<div class="container mt-2 animated fadeIn faster">
    <div class="title">
        <h2>Mis pedidos</h2>
        <hr>
    </div>
    <div class="filter row justify-content-end">
      <div class="form-group col-md-4 col-sm-6">
        <select [(ngModel)]="filter" name="filter"
          (change)= 'applyFilter()'
          id="filter" class="form-control">
          <option value="">Sin orden</option>
          <option value="1">Mas antiguos</option>
          <option value="-1">Mas recientes</option>
        </select>
      </div>
    </div>
    <div class="orders table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Subtotal s/desc.</th>
                    <th scope="col">Descuento</th>
                    <th scope="col">Total</th>
                    <th scope="col">Info</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let order of orders'>
                    <th scope="row">{{ order.date | date:'dd-MM-yyyy' }}</th>
                    <td>${{ order.subtotal }} (Sin envio)</td>
                    <td>{{ (order.discount > 0) ? '$' + order.discount: 'Sin desc.' }}</td>
                    <td>
                        ${{ order.total }}
                    </td>
                    <td>
                        <button class='btn btn-outline-info' (click)='setOrder(order)'
                            data-target='#orderInfoModal' data-toggle='modal'>
                            <i class="fa fa-plus"></i>
                            Ver más
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
<div class="modal fade" id="orderInfoModal" tabindex="-1" role="dialog" aria-labelledby="orderInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" *ngIf='orderToShow'>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderInfoModalLabel">Compra de: {{ (orderToShow.user.name) ? orderToShow.user.name : orderToShow.user.commerceName }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="products">
            <div class="title mb-3">
              <h4>Productos</h4>
            </div>
            <div class="products d-flex justify-content-between table-responsive" >
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Producto</th>
                      <th scope="col">Gramaje</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Precio u.</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Descuento</th>
                      <th scope="col">Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let product of orderToShow.products; let i = index'>
                      <th scope="row">{{ i +1 }}</th>
                      <td class='product-name'>{{ product.name }}</td>
                      <td>{{ (product.gramaje.number) ? product.gramaje.number + ' ' + product.gramaje.unity + '.' : product.gramaje }}</td>
                      <td>{{ product.marca }}</td>
                      <td>${{ product.unidad }}</td>
                      <td class='quantity-row'>{{ product.quantity }}</td>
                      <td class='quantity-row'>
                        {{ (product.discount > 0) ? '$' + product.discount : 'Sin desc.' }}
                      </td>
                      <td>${{ product.subtotal }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
          <div class="more-info mt-4">
              <h4>Mas información</h4>
              <hr>
              <div class="info">
                  <p>Cliente: <span>{{ (orderToShow.user.name ) ? orderToShow.user.name : orderToShow.user.commerceName}}</span></p>
                  <p>Email: <span>{{ orderToShow.user.userEmail }}</span></p>
                  <p>Celular: <span>{{ orderToShow.user.phoneNumber }}</span></p>
                  <p>Dirección: <span>{{ (orderToShow.user.shippingAddress) ? orderToShow.user.shippingAddress : orderToShow.user.address }}</span></p>
                  <hr>
                  <p class='mt-4' style='font-size:18px'>Subtotal: <span>${{ orderToShow.subtotal }}</span></p>
                  <p class='mt-2' style='font-size:18px'>Descuento: <span>{{ (orderToShow.discount > 0) ? '$' + orderToShow.discount : 'Sin desc.' }}</span></p>
                  <p class='mt-2' style='font-size:18px'>Envio: <span>{{ orderToShow.shipping }}</span></p>
                  <p class='mt-2' style='font-weight: bold; font-size:20px'>Total: <span>${{ orderToShow.total }}</span></p>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>
    