<div class="contactanos">
    <div class="title">
        <h2 class="question">¿Te interesan nuestro productos?</h2>
        <h2 class="answer">¡Contactanos!</h2>
    </div>
    <div class="container">
        <div class="contact-form">
            <form [formGroup]='form' (ngSubmit)='contactFormSubmit()'>
                <div class="name-email group">
                    <input type="text" placeholder="Nombre *" formControlName="name">
                    <input type="text" placeholder="Teléfono" formControlName="phone">
                </div>

                <div class="phone-email group">
                    <input type="text" placeholder="Email *" formControlName="email">
                    <input type="text" placeholder="Asunto" formControlName="affair">
                </div>

                <textarea name="" id="" placeholder="Mensaje" formControlName="message"></textarea>

                <div class="button">
                    <button type="submit">
                        Enviar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>