<div class="container animated fadeIn faster mt-2">
    <div class="content">
        <div class="newsletter-emails mb-4">
            <div class="title">
                <h2>Newsletter</h2>
                <hr>
            </div>
           <button class='btn btn-outline-success' *ngIf='this.usersSubscribed'
                (click)='downloadMessages()'>
               <i class="fa fa-download"></i>
               Usuarios suscritos
           </button>
        </div>
        <div class="newsletter-form mt-4">
            <div class="title">
                <h4>Enviar correo</h4>
                <hr>
            </div>
            <form action="">
                <div class="form-group">
                    <label for="email">Mensaje</label>
                    <textarea [(ngModel)]="message" name="message" id="email" 
                    class='form-control' placeholder="Ingresa un mensaje"></textarea>
                </div>
                <div class="submit-button text-center">
                    <button (click)='sendMessage()'
                        class='btn btn-outline-primary' >
                        <i class="fa fa-envelope-o"></i>
                        Enviar mensaje
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
