.cart{
    max-width: 1400px;
    width: 98%;
    margin: 0 auto;
    margin-top: 20px;
}

.product-list table{
    position: relative;
}
.product-list .loading{
    margin-top: 100px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-list .loading .loading-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-list .loading .loading-content .text p{
    font-size: 20px;
}

.table td, .table th{
    vertical-align: middle;
}

.product-list .product-item .img img{
    max-width: 55px;
    border-radius: 50%;
}

/* .product-list .quantity{
    display: flex;
} */

.product-list .title{
    position: relative;
}
.product-list .title span{
    position: absolute;
    bottom:10px;
    left:-15%;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.product-list .quantity input{
    max-width: 70px;
}

.product-list .quantity .quantity-container{
    display: flex;
}

.product-list .quantity button{
    background: none;
    border: none;
    font-size: 22px;
    padding: 0 8px;
    cursor: pointer;
    color: black;
    font-weight: normal;
    line-height: initial;
    background: red;
    color: white;
}

.product-list .quantity button:disabled{
    background: #df9c9c;
}

.product-list .quantity input{
    width: 80%;
    text-align: center;
    font-size: 15px;
    padding: 3.5px 0;
    border: none;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.bottom{
    border-top: 1px solid #dcdcdc;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 0;
}

.bottom .final-prices{
    width: 100%;
    max-width: 350px;
    padding-right: 10px;
}

.bottom .final-prices > div{
    display: flex;
    justify-content: space-between;
}

.bottom .final-prices > div{
    font-size: 20px;
}

.bottom .shipping p span{
    color: rgb(98, 97, 97);
    opacity: .6;
    font-size: 16px;
}

.bottom .total span{
    margin-left: 7rem;
}

.bottom .final-prices,
.bottom .pay {
    margin-right: 70px;
}

.bottom .pay button{
    margin-top: 30px;
    padding: 12px 40px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: rgb(211, 45, 45);
    border: 1px solid rgb(211, 45, 45);
}

.bottom .pay button:hover{
    transition: .3s all ease;
    background: white;
    color: rgb(211, 45, 45);
}

.payment-options{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-products{
    background: rgba(220,220,220, .3);
    padding: 20px;
    text-align: center;
}

.no-products h2{
    margin-top: 10vh;
}

.no-products button{
    margin: 0 auto;
    margin-top: 15vh;
    background: rgb(211, 45, 45);
    color: white;
    font-size: 16px;
    padding: 15px 50px;
    border-radius: 3px;
    border: 1px solid rgb(211, 45, 45);
    margin-bottom: 15vh;
}

.no-products button:hover{
    transition: .3s all ease;
    color: rgb(211, 45, 45);
    background: rgba(220,220,220, .3);
}

.red {
    color: rgb(211, 45, 45);
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .bottom .final-prices,
    .bottom .pay{
        margin-right: 0;
    }
}