<div class="container">
    <div class=" title">
        <h2>Mi carrito</h2>
        <hr>
    </div>
    <div class="product-list mt-4" *ngIf='products.length > 0'>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Imagén</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Remover</th>
                </tr>
            </thead>
            <tbody *ngIf='!loading'>
                <tr class='product-item' *ngFor='let product of products; let i = index'>
                    <th scope="row">
                        <div class="img">
                            <img class='img-fluid img-circle' 
                            [src]="product.productId.img | images">
                        </div>
                    </th>
                    <td class='title'>{{ product.productId.name }}</td>
                    <td class='quantity'>
                        <input type="number" [(ngModel)]="product.quantity" name='quantity'
                            min="1" max='100'>
                    </td>
                    <td class='price'>$
                        {{ 
                            (loginService.user._id && loginService.user.role === 'COMMERCE_ROLE') 
                                ? product.productId.precioComercio 
                                : product.productId.precioUnit
                        }}
                    </td>
                    <td class="subtotal">$
                        {{ getSubtotal(product) }}
                    </td>
                    <td class="remove-item">
                        <button (click)='removeItem(product)'
                            class='btn btn-outline-danger'>
                            Remover
                        </button>
                    </td>
                </tr>
            </tbody>
            <div class="loading" *ngIf='false'>
                <div class="loading-content">
                    <div class="text">
                        <p>Cargando productos</p>
                    </div>
                    <div class="icons">
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </table>
        <div class="bottom">
            <div class="total" *ngIf='total'>
                <p>Total: <span>${{ total }}</span></p>
            </div>
            <div class="pay">
                <button class='btn-pay' (click)='checkout()'>
                    Pagar ahora
                </button>
            </div>
        </div>
    </div>
    <div class="no-products" *ngIf='products.length <= 0'>
        <h2>No tienes ningun producto agregado al carrito</h2>
        <button routerLink='/tienda'>
            Ir a la tienda
        </button>
    </div>
</div>

<form action="/procesar-pago" method="POST" *ngIf='preference'>
    <script
     src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
     data-preference-id="{{ preference.id }}">
    </script>
</form>
