<div class="container">
    <div class=" title">
        <h2>Mi carrito</h2>
        <hr>
    </div>
    <div class="product-list mt-4" *ngIf='products.length > 0'>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Imagén</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Remover</th>
                </tr>
            </thead>
            <tbody *ngIf='!loadingService.loading'>
                <tr class='product-item' *ngFor='let product of products; let i = index'>
                    <th scope="row">
                        <div class="img">
                            <img class='img-fluid img-circle' 
                            [src]="product.productId.img | images">
                        </div>
                    </th>
                    <td class='title'>{{ product.productId.name }}</td>
                    <td class="quantity">
                        <button class='less' [disabled]='product === 1'
                        (click)="getSubtotal('less', product)">-</button>
                        <input type="text" (change)="getSubtotal('changed', product)" [(ngModel)]="product.quantity" name='quantity'>
                        <button class='more' (click)="getSubtotal('more', product)">+</button>
                    </td>
                    <td class='price'>$
                        {{ 
                            (loginService.user._id && loginService.user.role === 'COMMERCE_ROLE') 
                                ? product.productId.precioComercio 
                                : product.productId.precioUnit
                        }}
                    </td>
                    <td class="subtotal">$
                        {{ getSubtotal('changed', product) }}
                    </td>
                    <td class="remove-item">
                        <button (click)='removeItem(product)'
                            class='btn btn-outline-danger'>
                            Remover
                        </button>
                    </td>
                </tr>
            </tbody>
            <div class="loading" *ngIf='false'>
                <div class="loading-content">
                    <div class="text">
                        <p>Cargando productos</p>
                    </div>
                    <div class="icons">
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow text-danger" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </table>
        <div class="bottom">
            <div class="total" *ngIf='total'>
                <p>Total: <span>${{ total }}</span></p>
            </div>
            <div class="pay">
                <button class='btn-pay' (click)='checkout()'
                    data-toggle="modal" data-target="#checkoutModal">
                    Pagar ahora
                </button>
            </div>
        </div>
    </div>
    <div class="no-products" *ngIf='products.length <= 0'>
        <h2>No tienes ningun producto agregado al carrito</h2>
        <button routerLink='/tienda'>
            Ir a la tienda
        </button>
    </div>
</div>

  
  <!-- Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="checkoutModalLabel">Pasarela de pago</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h2>Estas a un paso de realizar tu compra!</h2>
            <hr>
            <p class='mt-4'>Puedes efectuar el pago utilizando el botón a continuación.</p>
            <div class="checkout-form mt-4 text-center">
                <form id='checkout_form' [attr.action]="postUrl" method="POST" >
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
        </div>
    </div>
</div>
