h2{
    text-align: center;
    margin-bottom: 20px;
}
.productos .admin-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.productos .admin-title h2{
    text-align: left;
    padding-left: 20px;
    font-size: 25px;
    width: 40%;
    margin-bottom: 0;
}

.title{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.productos .search{
    width: 50%;
}

.productos .search .input-text{
    border: 1px solid rgb(211, 45, 45);
    border-radius: 2px;
}

.productos .search .input-text input[type='text'] {
    padding: 12px;
}

.productos .search .input-text button{
    height: 39px;
}

.new-product{
    display: flex;
    justify-content: center;
}

.new-product app-edit-product{
    max-width: 300px;
    min-width: 280px;
}

.table td, .table th{
    vertical-align: middle;
}

.productos .product-item .img img{
    max-width: 55px;
    border-radius: 50%;
}

.productos .product-item .controls{
    display: flex;
}

.productos .product-item .controls .edit{
    margin-right: 5px;
    display: flex;
}

.productos .product-list table{
    position: relative;
}
.productos .product-list .loading{
    margin-top: 100px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.productos .product-list .loading .loading-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos .product-list .loading .loading-content .text p{
    font-size: 20px;
}

.modal-dialog{
    display: flex;
    justify-content: center;
    margin: 5rem auto;
}

.modal-content{
    max-width: 320px;
    min-width: 280px;
}

.modal-body{
    padding:0;
}

.editModal .modal-content{
    min-width: 100% !important;
    max-width: 100% !important;
    top: -5vh !important;
}
