<div class="container admin-products mt-2">
    <div class="row">
        <div class="productos mb-4 col-12">
            <div class="admin-title">
                <h2>Lista de productos</h2>
            </div>
            <div class="filters mb-4 d-flex align-items-center">
                <div class="filter-marca w-50 mr-2">
                    <select [(ngModel)]="filtersToApply.marca" name="filter"
                    (change)= 'applyFilter()' 
                        id="marca_select" class="form-control">
                        <option value="">Selecciona una marca</option>
                        <option value="{{ marca.formattedFilter }}" 
                            *ngFor='let marca of marcas'>
                            {{ marca.nombre }}
                        </option>
                    </select>
                </div>
                <div class="search w-50 ml-2">
                    <div class="input-group input-text">
                        <input [(ngModel)]="filtersToApply.termino" type="text" (keyup)='searchProducts()'
                            placeholder="Busca un producto">
                        <div class="submit-btn">
                            <button type='button'>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group d-flex align-items-center justify-content-end">
                <label class='m-0' for="showDestacados">Solo destacados</label>
                <input type="checkbox" (change)='getDestacados($event)'
                    class='ml-2' id='showDestacados'>
            </div>
            
            <div class="product-list table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cons. final</th>
                            <th scope="col">Comercio</th>
                            <th scope="col">Controles</th>
                        </tr>
                    </thead>
                    <tbody *ngIf='!loading'>
                        <tr class='product-item' *ngFor='let product of products'>
                            <td>{{ product.idNumber }}</td>
                            <th scope="row">
                                <div class="img">
                                    <img *ngIf='product.img' 
                                        [src]="product.img.secure_url" alt="">
                                    <div class="img-loading" *ngIf="!product.img">
                                        <img src="../../../../assets/img/not-found.png" alt="">
                                    </div>
                                </div>
                            </th>
                            <td class='title'>{{ product.name }}</td>
                            <td class='price'>$ {{ product.precioUnit }}</td>
                            <td class='price'>$ {{ product.precioComercio }}</td>
                            <td class='controls'>
                                <div class="edit">
                                    <button (click)='openEditModal(product)'
                                        class="btn btn-outline-success"
                                        data-toggle="modal" data-target="#editModal">
                                        <i class="fa fa-edit"></i>
                                    </button>

                                    <button *ngIf='!product.destacado' 
                                        (click)='handleDestacado(product)'
                                        class="btn btn-outline-warning ml-2">
                                        <i class="fa fa-star"></i>
                                    </button>
                                    <button *ngIf='product.destacado' 
                                        (click)='handleDestacado(product)'
                                        class="btn btn-warning ml-2">
                                        <i class="fa fa-star"></i>
                                    </button>
                                </div>
                                <div class="delete" (click)='deleteProduct( product )' >
                                    <button class="btn btn-outline-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <div class="loading" *ngIf="loading">
                        <div class="loading-content">
                            <div class="text">
                                <p>Cargando productos</p>
                            </div>
                            <div class="icons">
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </table>
            </div>

            <div class='tienda-pagination' *ngIf='pages.length > 1'>
                <nav>
                    <ul class="pagination" *ngIf='searchType === null'>
                        <li class="page-item switch">
                            <a *ngIf='currentPage !== 1'
                                class="page-link clickable" (click)='switchPage("prev")'>Anterior</a>
                            <a class="page-link" *ngIf='currentPage === 1'
                                tabindex="-1" aria-disabled="true">
                                Anterior
                            </a>
                        </li>
                        <li class="page-item" [ngClass]="{active: page === currentPage}"
                            *ngFor='let page of pages'>
                            <a *ngIf='page === (currentPage - 1) || page === (currentPage + 1) || page === currentPage || (page === 3 && currentPage === 1)'
                                class="page-link" (click)='switchPage(page)'>{{ page }}</a>
                        </li>
                        <li class="page-item switch">
                            <a *ngIf='currentPage !== pages.length'
                                class="page-link clickable" (click)='switchPage("next")'>
                                Siguiente
                            </a>
                            <a class="page-link" *ngIf='currentPage === pages.length'
                                tabindex="-1" aria-disabled="true">
                                Siguiente
                            </a>
                        </li>
                    </ul>

    
                    <ul class="pagination" *ngIf='searchType === "filters"'>
                        <li class="page-item switch">
                            <a *ngIf='filtersPage !== 1'
                                class="page-link clickable" (click)='switchPage("prev")'>Anterior</a>
                            <a class="page-link" *ngIf='filtersPage === 1'
                                tabindex="-1" aria-disabled="true">
                                Anterior
                            </a>
                        </li>
                        <li class="page-item" [ngClass]="{active: page === filtersPage}"
                            *ngFor='let page of pages'>
                            <a *ngIf='page === (filtersPage - 1) || page === (filtersPage + 1) || page === filtersPage || (page === 3 && filtersPage === 1)'
                            class="page-link" (click)='switchPage(page)'>{{ page }}</a>
                        </li>
                        <li class="page-item switch">
                            <a *ngIf='filtersPage !== pages.length'
                                class="page-link clickable" (click)='switchPage("next")'>
                                Siguiente
                            </a>
                            <a class="page-link" *ngIf='filtersPage === pages.length'
                                tabindex="-1" aria-disabled="true">
                                Siguiente
                            </a>
                        </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>
      
<!-- Edit-Modal -->
<div class="modal editModal fade" *ngIf="productToEdit"
    id="editModal" tabindex="-1" role="dialog" 
    aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <app-edit-product [product]='productToEdit'></app-edit-product>
        </div>
        </div>
    </div>
</div>
