<div class="container-fluid admin-products mt-2">
    <div class="row">
        <div class="col-md-8 productos">
            <div class="admin-title">
                <h2>Lista de productos</h2>
                <div class="search">
                    <div class="input-group input-text">
                        <input #term type="text" (keyup)='searchProducts(term.value, $event)'
                            placeholder="Busca un producto">
                        <div class="submit-btn">
                            <button type='button'>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-list">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio u.</th>
                        <th scope="col">Controles</th>
                        </tr>
                    </thead>
                    <tbody *ngIf='!loading'>
                        <tr class='product-item' *ngFor='let product of products'>
                            <th scope="row">
                                <div class="img">
                                    <img class='img-fluid img-circle' 
                                    [src]="product.img | images" alt="">
                                </div>
                            </th>
                            <td class='title'>{{ product.name }}</td>
                            <td class='price'>$ {{ product.precioUnit }}</td>
                            <td class='controls'>
                                <div class="edit">
                                    <button (click)='openEditModal(product)'
                                        class="btn btn-outline-success"
                                        data-toggle="modal" data-target="#editModal">
                                        Editar
                                    </button>

                                    <!-- <button class="btn btn-outline-success">
                                        Editar
                                    </button> -->
                                </div>
                                <div class="delete" (click)='deleteProduct( product )' >
                                    <button class="btn btn-outline-danger">
                                        Borrar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <div class="loading" *ngIf="loading">
                        <div class="loading-content">
                            <div class="text">
                                <p>Cargando productos</p>
                            </div>
                            <div class="icons">
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Agregar un producto</h2>
            <div class="row justify-content-center">
                <div class="new-product col-md-12">
                    <app-edit-product></app-edit-product>
                </div>
            </div>
        </div>
    </div>
</div>
      
<!-- Edit-Modal -->
<div class="modal editModal fade" *ngIf="productToEdit"
    id="editModal" tabindex="-1" role="dialog" 
    aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <app-edit-product [product]='productToEdit'></app-edit-product>
        </div>
        </div>
    </div>
</div>
