h2{
    text-align: center;
    margin-bottom: 20px;
}
.productos .admin-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.productos .admin-title h2{
    text-align: left;
    padding-left: 20px;
    font-size: 25px;
    width: 40%;
    margin-bottom: 0;
}

.title{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.productos .search{
    width: 50%;
}

.productos .search .input-text{
    border: 1px solid rgb(211, 45, 45);
    border-radius: 2px;
}

.productos .search .input-text input[type='text'] {
    padding: 12px;
}

.productos .search .input-text button{
    height: 39px;
}

.new-product{
    display: flex;
    justify-content: center;
}

.new-product app-edit-product{
    max-width: 300px;
    min-width: 280px;
}

.table td, .table th{
    vertical-align: middle;
}

.table td.price{
    padding-left: 1.4rem;
}

.productos .product-item .img img{
    max-width: 55px;
    border-radius: 50%;
}

.productos .product-item .controls{
    display: flex;
}

.productos .product-item .controls .edit{
    margin-right: 5px;
    display: flex;
}

.productos .product-list table{
    position: relative;
}
.productos .product-list .loading{
    margin-top: 100px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.productos .product-list .loading .loading-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos .product-list .loading .loading-content .text p{
    font-size: 20px;
}

.modal-dialog{
    display: flex;
    justify-content: center;
    margin: 5rem auto;
}

.modal-content{
    max-width: 320px;
    min-width: 280px;
}

.modal-body{
    padding:0;
}

.editModal .modal-content{
    min-width: 100% !important;
    max-width: 100% !important;
    top: -5vh !important;
}

.tienda-pagination{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.tienda-pagination .switch a{
    cursor: not-allowed;
    opacity: .6;
}

.tienda-pagination .switch a.clickable{
    cursor: pointer !important;
    opacity: 1 !important;
}

.tienda-pagination .page-link{
    color: #DE1B1B;
    cursor: pointer;
}

.tienda-pagination .page-link:focus{
    box-shadow: 0 0 0 0.2rem rgba(222,27,27,.3)
}
.tienda-pagination .active .page-link{
    background: rgb(231, 66, 72);
    color: white;
    border-color:rgb(231, 66, 72);
}
