<div class="container mt-2 animated fadeIn faster">
    <div class="title">
        <h2>Pedidos</h2>
        <hr>
    </div>
    <div class="filter d-flex justify-content-end">
      <div class="form-group w-50">
        <select [(ngModel)]="filter.status" name="status"
          (change)= 'applyFilter()'
          id="filter" class="form-control">
          <option value="">Mostrar todos</option>
          <option value="PENDING">Pendientes</option>
          <option value="FINISHED">Finalizados</option>
        </select>
      </div>
      <div class="form-group w-50 ml-2">
          <select [(ngModel)]="filter.date" name="date"
            (change)= 'applyFilter()'
            id="filter" class="form-control">
            <option value="">Sin orden</option>
            <option value="1">Mas antiguos</option>
            <option value="-1">Mas recientes</option>
          </select>
      </div>
    </div>
    <div class="orders table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope='col'>Fecha</th>
                    <th scope="col">Metodo de pago</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Info</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let order of orders'>
                    <th scope="row" class='user-name' (click)='setUser(order.user)'
                      data-toggle="modal" data-target="#userInfoModal">
                      {{ (order.user.name ) ? order.user.name : order.user.commerceName}}
                    </th>
                    <td>{{ order.date | date:'dd-MM-yyyy'}}</td>
                    <td>{{ order.paymentMethod || 'Efectivo' }}</td>
                    <td>${{ order.total }}</td>
                    <td>
                        <button (click)='changeState(order)'
                        class='btn' [ngClass]="{'btn-outline-warning': order.status === 'PENDING', 'btn-outline-success': order.status === 'FINISHED' }">
                            {{ (order.status === 'PENDING' ? 'Pendiente' : 'Finalizado') }}
                        </button>
                    </td>
                    <td>
                        <button class='btn btn-outline-info' (click)='setOrder(order)'
                            data-target='#orderInfoModal' data-toggle='modal'>
                            <i class="fa fa-plus"></i>
                            Ver más
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- More info modal -->
<div class="modal fade" id="orderInfoModal" tabindex="-1" role="dialog" aria-labelledby="orderInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" *ngIf='orderToShow'>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderInfoModalLabel">Compra de: {{ (orderToShow.user.name ) ? orderToShow.user.name : orderToShow.user.commerceName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="products">
            <div class="title mb-3">
              <h4>Productos</h4>
            </div>
            <div class="products d-flex justify-content-between table-responsive" >
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Producto</th>
                      <th scope="col">Gramaje</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Precio u.</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">% Descuento</th>
                      <th scope="col">Subtotal</th>
                      <th scope="col">Cod. barras</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let product of orderToShow.products; let i = index'>
                      <th scope="row">{{ i +1 }}</th>
                      <td class='product-name'>{{ product.name }}</td>
                      <td>{{ (product.gramaje.number) ? product.gramaje.number + ' ' + product.gramaje.unity + '.' : product.gramaje }}</td>
                      <td>{{ product.marca }}</td>
                      <td>${{ product.unidad }}</td>
                      <td class='quantity-row'>{{ product.quantity }}</td>
                      <td class='quantity-row'>
                          {{ (product.discount > 0) ? product.discountPercentage + '%' : 'Sin desc.' }}
                      </td>
                      <td>${{ product.subtotal }}</td>
                      <td>
                        <button (click)='showBarCode(product)'
                          class='btn btn-outline-danger'>
                          <i class="fa fa-barcode" aria-hidden="true"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
          <div class="more-info mt-4">
              <h4>Mas información</h4>
              <hr>
              <div class="info">
                  <p>Cliente: <span>{{ (orderToShow.user.name ) ? orderToShow.user.name : orderToShow.user.commerceName}}</span></p>
                  <p>Email: <span>{{ orderToShow.user.userEmail }}</span></p>
                  <p>Celular: <span>{{ orderToShow.user.phoneNumber }}</span></p>
                  <p>Dirección: <span>{{ (orderToShow.user.shippingAddress) ? orderToShow.user.shippingAddress : orderToShow.user.address }}</span></p>
                  <hr>
                  <p class='mt-4' style='font-size:18px'>Subtotal: <span>${{ orderToShow.subtotal }}</span></p>
                  <p class='mt-2' style='font-size:18px'>Descuento: <span>{{ (orderToShow.discount > 0) ? '$' + orderToShow.discount : 'Sin desc.' }}</span></p>
                  <p class='mt-2' style='font-size:18px'>Envio: <span>{{ orderToShow.shipping }}</span></p>
                  <p class='mt-2' style='font-weight: bold; font-size:20px'>Total: <span>${{ orderToShow.total }}</span></p>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="userInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf='userToShow'>
      <div class="modal-header">
        <h5 class="modal-title" id="userInfoModalLabel">{{ (userToShow.name) ? userToShow.name : userToShow.commerceName }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="email">
          <p>Email: <span>{{ userToShow.userEmail }}</span></p>
        </div>
        <div class="phone">
            <p>Celular: <span>{{ userToShow.phoneNumber }}</span></p>
        </div>
        <div class="address" *ngIf='userToShow.shippingAddress'>
          <p>Dirección de envio: <span>{{ userToShow.shippingAddress }}</span></p>
        </div>
        <div class="dni" *ngIf='userToShow.dni'>
            <p>DNI: <span>{{ userToShow.dni }}</span></p>
        </div>
        <div class="provincia" *ngIf='userToShow.provincia'>
            <p>Provincia: <span>{{ userToShow.provincia.nombre }}</span></p>
        </div>
        <div class="localidad" *ngIf='userToShow.localidad'>
            <p>Localidad: <span>{{ userToShow.localidad.nombre }}</span></p>
        </div>
        <div class="birthday" *ngIf='userToShow.birthDay'>
            <p>Nacimiento: <span>{{ userToShow.birthDay }}</span></p>
        </div>
        <div class="commerce-info mt-3" *ngIf='userToShow.cuit'>
            <div class="title">
                <h4>Info comercial</h4>
                <hr>
            </div>
            <div class="commerce-address">
                <p>Dirección del local: <span>{{ userToShow.address }}</span></p>
            </div>
            <div class="commerce-address">
                <p>Cuit: <span>{{ userToShow.cuit }}</span></p>
            </div>
            <div class="commerce-address">
                <p>Persona de contacto: 
                    <span>{{ userToShow.contactPerson}}</span>
                </p>
            </div>
            <div class="commerce-address">
              <div class='mt-2'>
                  <h6>Disponibilidad: </h6>
                  <hr>
                  <p class='mt-2' *ngFor='let hour of userToShow.hours'>
                      <span *ngIf='hour.active'>
                          {{ hour.day }}: De {{ hour.hour }} {{ (hour.moreHours.active) ? 'Y de ' + hour.moreHours.hour : '' }}
                      </span>
                  </p>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Barcode modal -->
<div class="modal fade" id="barCodeModal" tabindex="-1" role="dialog" aria-labelledby="barCodeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" *ngIf='productToShowBarCode'>
        <h5 class="modal-title" id="barCodeModalLabel">{{ productToShowBarCode.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf='productToShowBarCode'
        class="modal-body d-flex justify-content-center" >
        <canvas id="barcode"></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
