th, td{
    text-align: center !important;
}
.products p{
    font-weight: bold;
    font-size: 17px;
}
.products .product{
    margin-bottom: 10px;
}

.quantity-row {
    padding-left: 35px !important;
}

.product-name{
    max-width: 200px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-name{
    cursor: pointer;
}

.user-name:hover{
    transition: .3s all ease;
    opacity: .6;
}

@media screen and (min-width: 576px){
    .modal-dialog {
        max-width: 600px;
    }
}
