<div class="container mt-2 animated fadeIn faster">
    <div class="title">
        <h2>Pedidos</h2>
        <hr>
    </div>
    <div class="filter d-flex justify-content-end">
      <div class="form-group w-50">
        <select [(ngModel)]="filter" name="filter"
          (change)= 'applyFilter()'
          id="filter" class="form-control">
          <option value="">Mostrar todos</option>
          <option value="PENDING">Pendientes</option>
          <option value="FINISHED">Finalizados</option>
        </select>
      </div>
    </div>
    <div class="orders">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Metodo de pago</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Info</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let order of orders'>
                    <th scope="row">{{ order.user.userEmail }}</th>
                    <td>{{ order.paymentMethod || 'Efectivo' }}</td>
                    <td>${{ order.total }}</td>
                    <td>
                        <button (click)='changeState(order)'
                        class='btn' [ngClass]="{'btn-outline-warning': order.status === 'PENDING', 'btn-outline-success': order.status === 'FINISHED' }">
                            {{ (order.status === 'PENDING' ? 'Pendiente' : 'Finalizado') }}
                        </button>
                    </td>
                    <td>
                        <button class='btn btn-outline-info' (click)='setOrder(order)'
                            data-target='#orderInfoModal' data-toggle='modal'>
                            <i class="fa fa-plus"></i>
                            Ver más
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="orderInfoModal" tabindex="-1" role="dialog" aria-labelledby="orderInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" *ngIf='orderToShow'>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderInfoModalLabel">Compra de: {{ orderToShow.user.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="products">
            <div class="title mb-3">
              <h4>Productos</h4>
            </div>
            <div class="products d-flex justify-content-between" >
              <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Producto</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor='let product of orderToShow.products; let i = index'>
                      <th scope="row">{{ i +1 }}</th>
                      <td>{{ product.name }}</td>
                      <td>{{ product.marca }}</td>
                      <td class='quantity-row'>{{ product.quantity }}</td>
                      <td>${{ product.subtotal }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
          <div class="more-info mt-4">
              <h4>Mas información</h4>
              <hr>
              <div class="info">
                  <p>Total: <span>{{ orderToShow.total }}</span></p>
                  <p>Cliente: <span>{{ orderToShow.user.name }}</span></p>
                  <p>Cliente email: <span>{{ orderToShow.user.userEmail }}</span></p>
                  <p>Dirección: <span>{{ orderToShow.user.shippingAddress }}</span></p>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>
