.login {
    margin: 20px 0 10px 0;
}

.login .container {
    box-shadow: 1px 1px 3px gray;
    padding: 40px 20px;
}

.login-form .explanation {
    margin-top: -10px;
    margin-bottom: 15px;
}

.form-content {
    margin-top: 30px;
}

.form-content .phone-number {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-content .phone-number .number-item {
    margin-left: 10px;
    min-width: 40%;
}

.form-content .phone-number .little {
    min-width: 15%;
    width: 15%;
}

.form-content .phone-number .number-item .country {
    display: flex;
    align-items: center;
}

.form-content .phone-number .number-item .country span {
    font-size: 30px;
    margin-bottom: 1rem;
    margin-right: 5px;
}

.form-content .recaptcha-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.verification-code h4 {
    margin-bottom: 15px;
    font-size: 23px;
}

.verification-code .code-input {
    margin: 0 auto;
}

.login-button, .cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(194, 54, 49);
    color: white;
    padding: 15px 60px;
    border: 1px solid rgb(194, 54, 49);
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    opacity: .9;
    z-index: 999;
}

.login-button i {
    font-size: 18px;
    margin-right: 10px;
}

.cart-button i{
    font-size: 30px;
}

.cart-button span{
    font-size: 14px;
    font-weight: bold;
    margin-top: -10px;
    margin-left: -8px;
    background: white;
    padding: 0px 5.5px;
    padding-bottom: 3px;
    color: rgb(194, 54, 49);
    border: 1px solid rgb(194, 54, 49);
    border-radius: 50%;
}

.login-button:hover,
.cart-button:hover{
    transition: .3s all ease;
    background: white;
    color: rgb(194, 54, 49);
}

@media screen and (max-width: 1000px){
    .login-button,
    .cart-button {
        padding: 12px 40px;
    }
}

@media screen and (max-width: 600px){
    .login-button,
    .cart-button{
        padding: 10px 30px;
        font-size: 14px;
        left: 10px;
    }

    .form-content .phone-number .number-item {
        margin-left: 0;
        margin-right: 5px;
    }

    .form-content .phone-number .little{
        width: auto;
    }

    .form-content .phone-number .pais{
        min-width:65px !important;
    }

    .form-content .phone-number .area{
        max-width: 130px !important;
    }
}