.login {
    margin: 20px 0 10px 0;
}

.login .container {
    box-shadow: 1px 1px 3px gray;
    padding: 40px 20px;
}

.login-form .explanation {
    margin-top: -10px;
    margin-bottom: 15px;
}

.form-content {
    margin-top: 30px;
}

.form-content .phone-number {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-content .phone-number .number-item {
    margin-left: 10px;
    min-width: 40%;
}

.form-content .phone-number .little {
    min-width: 15%;
    width: 15%;
}

.form-content .phone-number .number-item .country {
    display: flex;
    align-items: center;
}

.form-content .phone-number .number-item .country span {
    font-size: 30px;
    margin-bottom: 1rem;
    margin-right: 5px;
}

.form-content .recaptcha-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.verification-code h4 {
    margin-bottom: 15px;
    font-size: 23px;
}

.verification-code .code-input {
    margin: 0 auto;
}

.login-button, .cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(194, 54, 49);
    color: white;
    padding: 15px 60px;
    border: 1px solid rgb(194, 54, 49);
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    opacity: .9;
    z-index: 999;
}

.login-button i {
    font-size: 18px;
    margin-right: 10px;
}

.cart-button i{
    font-size: 30px;
}

.cart-button span{
    font-size: 14px;
    font-weight: bold;
    margin-top: -10px;
    margin-left: -8px;
    background: white;
    padding: 0px 5.5px;
    padding-bottom: 3px;
    color: rgb(194, 54, 49);
    border: 1px solid rgb(194, 54, 49);
    border-radius: 50%;
}

.login-button:hover,
.cart-button:hover{
    transition: .3s all ease;
    background: white;
    color: rgb(194, 54, 49);
}

.horarios .horario .checkbox-new{
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.horarios .horario .checkbox-new .checkbox-input{
    margin: 1px 7px 0 7px;
}

.horarios .horario .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.horarios .horario .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: gray;
    border-radius: 8px;
    transition: background .2s ease;
}

.horarios .horario span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(gray, .5);
    transition: all .2s ease;
}

.horarios .horario span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(rgba(211, 45, 45), .5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.horarios .horario input:checked+.toggle:before {
    background: rgb(223, 144, 144);
}

.horarios .horario input:checked+.toggle span {
    background: rgb(211, 45, 45);
    transform: translateX(20px);
    transition: all .2s cubic-bezier(.8, .4, .3, 1.25), background .15s ease;
    box-shadow: 0 3px 8px rgba(rgba(211, 45, 45), .2);
}

.horarios .horario input:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all .4s ease;
}

.horarios .horario .hora{
    position: relative;
}

.horarios .horario .hora i {
    position: absolute;
    top:10px;
    right: 20px;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 6px;
    color: white;
    border-radius: 50%;
    background: #DE1B1B;
    cursor: pointer;
}

.horarios .horario .hora i:hover{
    transition: .3s all ease;
    opacity: .7;
}

@media screen and (max-width: 1000px){
    .login-button,
    .cart-button {
        padding: 12px 40px;
    }
}

@media screen and (max-width: 600px){
    .login-button,
    .cart-button{
        padding: 10px 30px;
        font-size: 14px;
        right: 10px;
    }

    .form-content .phone-number .number-item {
        margin-left: 0;
        margin-right: 5px;
    }

    .form-content .phone-number .little{
        width: auto;
    }

    .form-content .phone-number .pais{
        min-width:65px !important;
    }

    .form-content .phone-number .area{
        max-width: 130px !important;
    }
}