<div class="login-content">
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Iniciar Sesion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> -->
                <div class="modal-body">
                    <div class="login text-center animated fadeIn faster">
                        <div class="login-container">
                            <div class="login-form">
                                <div class="explanation">
                                    <p>Ingresa tu numero, completa el CAPTCHA y te enviaremos un codigo para verificar tu identidad!</p>
                                </div>
                                <div class='form-content'>
                                    <form class='sign-in-form'>
                                        <div class="phone-number">
                                            <div class="number-item little pais">
                                                <label for="pais">País</label>
                                                <div class="country">
                                                    <span>+</span>
                                                    <input id="pais" [(ngModel)]="phone.country" name='country' maxlength="2" class='form-control mb-3' type="text" placeholder="54" disabled>
                                                </div>
                                            </div>
                                            <div class="number-item little area">
                                                <label for="area">Area</label>
                                                <input id="area" [(ngModel)]="phone.area" name='area' maxlength="3" class='form-control mb-3' type="text" disabled>
                                            </div>
                                            <div class="number-item little">
                                                <label for="prefijo">Prefijo</label>
                                                <input id="prefijo" [(ngModel)]="phone.prefix" name='prefix' maxlength="3" class='form-control mb-3' type="text" placeholder="11">
                                            </div>
                                            <div class="number-item">
                                                <label for="numero">Número</label>
                                                <input id="numero" [(ngModel)]="phone.line" name='line' maxlength="8" class='form-control mb-3' type="text" placeholder="12345678">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="recaptcha-container" id='recaptcha-container'></div>
                                        <div class="error text-danger" *ngIf='numberError'>
                                            <p>Ha ocurrido un error al enviar el mensaje, probablemente has realizado demasiados intentos. Prueba mas tarde!</p>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class='animated fadeIn faster verification-code' 
                                *ngIf="windowRef && windowRef.confirmationResult">
                                <hr>
                                <h4>Ingresa tu codigo de verificación</h4>
                                <div class="col-sm-6 code-input">
                                    <input name="code" [(ngModel)]="verificationCode" class='form-control' type="text" placeholder="Ingresa el código">
                                    <button class='mt-2 btn btn-success' (click)="verifyLoginCode()">Verificar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                        Cerrar
                    </button>
                    <button (click)="sendLoginCode()" [disabled]="!phone.isValid() || windowRef.confirmationResult" 
                    type='submit' class="btn-outline-success btn">Enviar codigo</button>
                </div>
            </div>
        </div>
    </div>

    <button *ngIf='!loginService.user._id' type="button"
        (click)='resetPhone()' 
        class="login-button" data-toggle="modal" data-target="#loginModal">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        Iniciar sesión
    </button>
    <button *ngIf='loginService.user._id && cartService.cartProductsLength > 0 && showCart' 
        type="button" class="cart-button" routerLink='/carrito'>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span>{{ cartService.cartProductsLength }}</span>
    </button>
</div>

<div class="modal fade" id="additionalInfoModal" tabindex="-1" role="dialog" aria-labelledby="additionalInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="additionalInfoModalLabel">Mi perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f='ngForm'>
            <div class="d-flex justify-content-between" *ngIf='!loginService.isCommerce'>
                <div class="form-group w-50">
                    <label for="recipient-name" class="col-form-label">Nombre y apellido:</label>
                    <input type="text" [(ngModel)]="loginService.user.name" name='name'
                        class="form-control" id="recipient-name" placeholder="Nombre y apellido">
                </div>
                <div class="form-group w-50 ml-2">
                    <label for="recipient-dni" class="col-form-label">DNI:</label>
                    <input type="text" [(ngModel)]="loginService.user.dni" name='dni'
                        class="form-control" id="recipient-dni" placeholder="DNI">
                </div>
            </div>

            <div class="d-flex justify-content-between" *ngIf='loginService.isCommerce'>
                <div class="form-group w-50">
                    <label for="recipient-commerceName" class="col-form-label">Nombre del comercio:</label>
                    <input type="text" [(ngModel)]="loginService.user.commerceName" name='commerceName'
                        class="form-control" id="recipient-commerceName" placeholder="Nombre del comercio">
                </div>
                <div class="form-group w-50 ml-2">
                    <label for="recipient-cuit" class="col-form-label">Cuit:</label>
                    <input type="text" [(ngModel)]="loginService.user.cuit" name='cuit'
                        (ngModelChange)='cuitCompletation()' maxlength='13'
                        class="form-control" id="recipient-cuit" placeholder="Cuit">
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="form-group w-100">
                    <label for="recipient-email" class="col-form-label">Correo electronico:</label>
                    <input type="text" [(ngModel)]="loginService.user.userEmail" name='userEmail'
                        class="form-control" id="recipient-email" placeholder="tucorreo@correo.com">
                </div>
                <div class="form-group w-100 ml-2" *ngIf='!loginService.isCommerce'>
                    <label for="recipient-birthday" class="col-form-label">Fecha de nacimiento:</label>
                    <input type="text" [(ngModel)]="loginService.user.birthDay" 
                        (ngModelChange)='birthDayCompletation()' name='birthDay'
                        class="form-control" id="recipient-birthday" placeholder="Ejemplo: 04-08-1990">
                </div>
            </div>

            <div class="d-flex justify-content-between" *ngIf='loginService.isCommerce'>
                <div class="form-group w-50" *ngIf='loginService.isCommerce'>
                    <label for="recipient-address" class="col-form-label">Dirección del comercio:</label>
                    <input type="text" [(ngModel)]="loginService.user.address" name='address'
                        class="form-control" id="recipient-address" placeholder="Dirección ejemplo 234">
                </div>

                <div class="form-group w-50 ml-2" >
                    <label for="recipient-contactPerson" class="col-form-label">Persona de contacto:</label>
                    <input type="text" [(ngModel)]="loginService.user.contactPerson" name='contactPerson'
                        class="form-control" id="recipient-contactPerson" placeholder="Persona de contacto">
                </div>
            </div>

            <div class="form-group" *ngIf='!loginService.isCommerce'>
                <label for="recipient-shippingAddress" class="col-form-label">Dirección de entrega:</label>
                <input type="text" [(ngModel)]="loginService.user.shippingAddress" name='shippingAddress'
                    class="form-control" id="recipient-shippingAddress" placeholder="Dirección ejemplo 234">
            </div>
          
            <div class="commerce-options" *ngIf='loginService.isCommerce'>
                <div class="form-group hours" >
                    <label for="recipient-name" class="col-form-label">Horarios de atención:</label>
                    <div class="horarios text-center">
                        <div class="horario" *ngFor='let horario of loginService.user.hours; let i = index' >
                            <div class="horario-content d-flex mb-2">
                                <div class="dia d-flex" style='width: 28%'>
                                    <p class='w-50 text-left'>{{ horario.day }}</p>
                                    <div class="checkbox-new w-25">
                                        <div class="checkbox-input">
                                            <input [(ngModel)]="horario.active" [checked]='horario.active' 
                                                name="horario"
                                                type="checkbox" [attr.id]="horario.day" style="display:none" />
                                            <label [attr.for]="horario.day" class="toggle">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="hora d-flex" style='width: 70%' *ngIf='horario.active'>
                                    <input type="text" [(ngModel)]="horario.hour" [name]='horario.day'
                                        (ngModelChange)='handleHorario(i)' maxlength="13"
                                        class="form-control" placeholder="Horario Ej. 12:00 a 23:59">
                                    <i class="fa fa-plus" (click)='horario.moreHours.active = !horario.moreHours.active'
                                        *ngIf='!horario.moreHours.active'></i>
                                    <input type="text" *ngIf='horario.moreHours.active'
                                        [(ngModel)]="horario.moreHours.hour" [name]="'moreHours' + horario.day"
                                        (ngModelChange)='handleHorario(i, "more")' maxlength="13"
                                        class="form-control" placeholder="Horario Ej. 12:00 a 23:59">
                                        <i class="fa fa-close" (click)='horario.moreHours.active = !horario.moreHours.active'
                                        *ngIf='horario.moreHours.active'></i>
                                </div>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
            <div class="ml-1 location">
                <div class="form-group w-100 mb-2" *ngIf='provincias.length > 0'>
                    <label for="provinciaId">Provincia</label>
                    <select [(ngModel)]="loginService.user.provincia.id"
                        (change)='gobAPIService.provinceChanged()'
                        name="provinciaId" id="provinciaId" class="form-control">
                        <option value="">Selecciona una provincia</option>
                        <option *ngFor='let provincia of provincias' value="{{ provincia.id }}">
                            {{ provincia.nombre }}
                        </option>
                    </select>
                </div>
                        
                <div class="form-group w-100" *ngIf='gobAPIService.localidades'>
                    <label for="localidadId">Localidad</label>
                    <select [(ngModel)]="loginService.user.localidad.id"
                        (change)='gobAPIService.localidadChanged()'
                        name="localidadId" id="localidadId" class="form-control">
                        <option value="">Selecciona una localidad</option>
                        <option *ngFor='let localidad of gobAPIService.localidades' value="{{ localidad.id }}">
                            {{ localidad.nombre }}
                        </option>
                    </select>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)='additionalInfo(f.value)'
            class="btn btn-danger">
            Guardar datos
        </button>
      </div>
    </div>
  </div>
</div>
