@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

p {
    margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

button {
    font-size: small;
}

:focus {
    outline: none !important;
}

button,
input,
optgroup,
select,
textarea {
    font-size: small;
    line-height: normal;
}

