@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

p {
    margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

button {
    font-size: small;
}

:focus {
    outline: none !important;
}

button,
input,
optgroup,
select,
textarea {
    font-size: small;
    line-height: normal;
}

ul.ks-cboxtags {
    list-style: none;
}

ul.ks-cboxtags li {
    display: inline;
    margin-right: 5px;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

ul.ks-cboxtags li label {
    padding: 5px 8px;
    cursor: pointer;
    font-size: 13px;
}

ul.ks-cboxtags li label i {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 12px;
    padding: 2px;
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li label i.check-icon,
ul.ks-cboxtags li input[type="checkbox"].active+label i.add-icon{
    display:none;
}

ul.ks-cboxtags li input[type="checkbox"].active+label i.check-icon {
    display:inline-block;
    font-size: 10px;
    transition: all .1s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"].active+label {
    border: 1px solid rgb(211, 45, 45);
    background-color: rgb(211, 45, 45);
    color: #fff;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 1px solid rgba(211, 45, 45, .5);
}

.swal-button:focus{
    box-shadow:  0 0 1px #fff, 0 0 0 3px rgba(211, 45, 45, .29);
}

.swal-button--confirm{
    background-color: rgb(211, 45, 45);
}

.swal-button--confirm:hover{
    background-color: rgba(211, 45, 45, .7) !important;
}

@media screen and (max-width: 991px){
    .container{
        max-width: 98% !important;
    }
}