<div class="producto">
    <div class="img">
        <img class='img-fluid' *ngIf='!tempImg && !product.img' 
            src="../../../../assets/img/not-found.png" alt="">

        <img class='img-fluid' *ngIf="product.img && !tempImg"
        [src]="product.img" alt="">

        <img class='img-fluid temp' *ngIf="tempImg"
        [src]="tempImg" alt="">

        <div class="background-on-hover" onclick='openFileSelector("new")'>
            <i class="fa fa-camera fa-3x" aria-hidden="true"></i>

            <input type="file"  (change)='imgSelected($event)' id='file_selector'>
        </div>

        <div onclick='openFileSelector("edit")' *ngIf='product.id'
             class="background-on-hover">
            <i class="fa fa-camera fa-3x" aria-hidden="true"></i>

            <input type="file" (change)='imgSelected($event)' id='edit_file_selector'>
        </div>
    </div>
    <div class="info">
        <div class="product-name">
            <input type="text" [(ngModel)]="product.name" name='name'
                class='edit-input' placeholder="Título del producto">
        </div>
        <div class="product-info">
            <p class='marca'>
                Marca: 
                <select [(ngModel)]="product.marca" name="marca" class="input-select">
                    <option value="">Selecciona una marca</option>
                    <option  *ngFor='let marca of filters.marcas'>
                        {{ marca.nombre }}
                    </option>
                </select>
            </p>
        </div>
        <div class="product-prices">
            <div class="unidad">
                <p>Unidad</p>
                <span>$
                    <input type="text" [(ngModel)]="product.precioUnit" name='precioUnit'
                        class='edit-input' placeholder="Precio">
                </span>
            </div>
            <div class="cantidad">
                <p>5 unidades</p>
                <span>$
                    <input type="text" [(ngModel)]="product.precioPor5" name='precioPor5'
                    class='edit-input' placeholder="Precio">
                </span>
            </div>
        </div>
    </div>
    <div class="progreso" *ngIf="uploadProgress">
        <p>Subiendo..</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" 
                style="width: 100%" aria-valuenow="100" 
                aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    <div class="add-to-cart">
        <button (click)='uploadProduct()' *ngIf='!product.id'>
            <i class="fa fa-save mr-1"></i>
            SUBIR PRODUCTO
        </button>

        <button (click)='editProduct()' *ngIf='product.id'>
            <i class="fa fa-save mr-1"></i>
            EDITAR PRODUCTO
        </button>
    </div>
</div> 
