.producto .img{
    position: relative;
    cursor: pointer;
}

.producto .img .background-on-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.8);
    cursor:pointer;
    transition: .3s all ease;
}

.producto .img:hover .background-on-hover{
    display: flex;
}

.producto .img .background-on-hover input[type='file']{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.producto .img .background-on-hover i{
    color: rgba(255,255,255,.8);
}

.edit-input{
    border: 1px solid #DE1B1B;
    margin-left: 5px;
    padding: 5px;
    margin-top: 5px;
    max-width: 100px;
    border-radius: 3px;
}

.product-name .edit-input{
    max-width: 100%;
    min-width: 80%;
    margin-left: 0;
    margin-bottom: 5px;
}

.product-info{
    padding-bottom: 5px;
}

.product-info .marca{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.product-info .marca .input-select{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 8l10 9 10-9' stroke-linecap='round' stroke='%23DE1B1B' fill='none'/%3E%3C/svg%3E");
    height: auto;
    padding: 6px 8px;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 0;
}

.product-prices .edit-input{
    margin-left: 0;
}

.filters{
    padding: 10px;
}

.filters .filter{
    margin-bottom: 20px;
}

.filters .filter .filter-title label{
    margin-bottom: 5px !important;
    font-size: 16px;
    color: #5c5858;
    padding-left: 5px;
}

.filters .esta-refrigerado {
    padding-left: 10px;
    margin-top: 20px;
}

.filters .esta-refrigerado .checkbox-new{
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.filters .esta-refrigerado .checkbox-new .checkbox-input{
    margin: 1px 7px 0 7px;
}

.filters .esta-refrigerado .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.filters .esta-refrigerado .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: gray;
    border-radius: 8px;
    transition: background .2s ease;
}

.filters .esta-refrigerado span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(gray, .5);
    transition: all .2s ease;
}

.filters .esta-refrigerado span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(rgba(211, 45, 45), .5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.filters .esta-refrigerado input:checked+.toggle:before {
    background: rgb(223, 144, 144);
}

.filters .esta-refrigerado input:checked+.toggle span {
    background: rgb(211, 45, 45);
    transform: translateX(20px);
    transition: all .2s cubic-bezier(.8, .4, .3, 1.25), background .15s ease;
    box-shadow: 0 3px 8px rgba(rgba(211, 45, 45), .2);
}

.filters .esta-refrigerado input:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all .4s ease;
}

.progreso{
    padding: 5px 10px;
}

.progreso p{
    font-size: 14px;
}

.filters .add-to-cart{
    padding: 0;
}

.edit-product .img{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.edit-product .img img{
    max-height: 300px !important;
    max-width: 100% !important;
    width: auto !important;
}

.edit-product .filters .filter{
    margin-bottom: 5px;
}

ul.ks-cboxtags li label i.check-icon,
ul.ks-cboxtags li input[type="checkbox"]:checked+label i.add-icon,
ul.ks-cboxtags li input[type="checkbox"].active+label i.add-icon{
    display:none;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label i.check-icon,
ul.ks-cboxtags li input[type="checkbox"].active+label i.check-icon {
    display:inline-block;
    font-size: 10px;
    transition: all .1s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked+label,
ul.ks-cboxtags li input[type="checkbox"].active+label {
    border: 1px solid rgb(211, 45, 45);
    background-color: rgb(211, 45, 45);
    color: #fff;
}