<div class="producto" [ngClass]="{'edit-product': product.img}">
    <div class="img">
        <img class='img-fluid' *ngIf='!tempImg && !product.img' 
            src="../../../../assets/img/not-found.png" alt="">

        <img class='img-fluid' *ngIf="product.img && !tempImg"
        [src]="product.img | images" alt="">

        <img class='img-fluid temp' *ngIf="tempImg"
        [src]="tempImg" alt="">

        <div class="background-on-hover" onclick='openFileSelector("new")'>
            <i class="fa fa-camera fa-3x" aria-hidden="true"></i>

            <input type="file"  (change)='imgSelected($event)' id='file_selector'>
        </div>

        <div onclick='openFileSelector("edit")' *ngIf='product._id'
             class="background-on-hover">
            <i class="fa fa-camera fa-3x" aria-hidden="true"></i>

            <input type="file" (change)='imgSelected($event)' id='edit_file_selector'>
        </div>
    </div>
    <div class="info">
        <div class="product-name">
            <input type="text" [(ngModel)]="product.name" name='name'
                class='edit-input' placeholder="Título del producto">
        </div>
        <div class="product-info">
            <p class='marca'>
                Marca: 
                <select [(ngModel)]="product.marca" name="marca" class="input-select">
                    <option value="">Selecciona una marca</option>
                    <option [value]='marca.formattedFilter' *ngFor='let marca of filters.marcas'>
                        {{ marca.nombre }}
                    </option>
                </select>
            </p>
        </div>
        <div class="product-prices">
            <div class="unidad">
                <p>Unidad</p>
                <span>$
                    <input type="text" [(ngModel)]="product.precioUnit" name='precioUnit'
                        class='edit-input' placeholder="Precio">
                </span>
            </div>
            <div class="cantidad">
                <p>Desc. por bulto</p>
                <span>%
                    <input type="text" [(ngModel)]="product.descuentoPorBulto" name='descuentoPorBulto'
                    class='edit-input' placeholder="Descuento">
                </span>
            </div>
            <div class="comercio">
                <p>Comercio</p>
                <span>$
                    <input type="text" [(ngModel)]="product.precioComercio" name='precioComercio'
                        class='edit-input' placeholder="Precio">
                </span>
            </div>
        </div>
    </div>
    <div class="filters" *ngIf="!loading && product._id">
        <div class="filter certificacion">
            <div class="filter-title">
                <label for="">Certificación</label>
            </div>
            <div class="filter-options">
                <ul class="ks-cboxtags">
                    <li *ngFor='let certificacion of filters.certificaciones'>
                        <input type="checkbox" 
                                [attr.id]="certificacion.formattedFilter + '_edit'"
                                [attr.value]='certificacion.formattedFilter'>
                        <label (click)="filterChanged('certificacion', certificacion.formattedFilter)"
                                [attr.for]="certificacion.formattedFilter + '_edit'">
                            <i class='fa fa-plus add-icon'></i>
                            <i class='fa fa-check check-icon'></i>
                            {{ certificacion.nombre }}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter rubros">
            <div class="filter-title">
                <label for="">Rubros</label>
            </div>
            <div class="filter-options">
                <ul class="ks-cboxtags">
                    <li *ngFor='let rubro of filters.rubros'>
                        <input type="checkbox" [attr.id]="rubro.formattedFilter + '_edit'"
                                [attr.value]='rubro.formattedFilter'>
                        <label (click)="filterChanged('rubro', rubro.formattedFilter)"
                                [attr.for]="rubro.formattedFilter + '_edit'">
                            <i class='fa fa-plus add-icon'></i>
                            <i class='fa fa-check check-icon'></i>
                            {{ rubro.nombre }}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter tipos">
            <div class="filter-title">
                <label for="">Tipos</label>
            </div>
            <div class="filter-options">
                <ul class="ks-cboxtags">
                    <li *ngFor='let tipo of filters.tipos'>
                        <input type="checkbox" [attr.id]="tipo.formattedFilter + '_edit'"
                                [attr.value]='tipo.formattedFilter'>
                        <label (click)="filterChanged('tipo', tipo.formattedFilter)"
                                [attr.for]="tipo.formattedFilter + '_edit'">
                            <i class='fa fa-plus add-icon'></i>
                            <i class='fa fa-check check-icon'></i>
                            {{ tipo.nombre }}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter esta-refrigerado">    
            <div class="filter-title">
                <label for="refrigerado">Refrigerado</label>
            </div>
            <div class="filter-options">
                <div class="checkbox-new">
                    <p>No</p>
                    <div class="checkbox-input">
                        <input type="checkbox" id="refrigerado_edit" style="display:none"
                                [(ngModel)]="product.estaRefrigerado" name='estaRefrigerado'/>
                        <label for="refrigerado_edit" class="toggle">
                            <span></span>
                        </label>
                    </div>
                    <p>Si</p>
                </div>
            </div>
        </div>
        <div class="progreso" *ngIf="uploadProgress">
            <p>Subiendo..</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" 
                    style="width: 100%" aria-valuenow="100" 
                    aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
    <div class="add-to-cart">
        <button *ngIf='!product._id'
            data-toggle="modal" data-target="#uploadProduct" >
            <i class="fa fa-save mr-1"></i>
            SUBIR PRODUCTO
        </button>

        <button (click)='editProduct()' *ngIf='product._id'>
            <i class="fa fa-save mr-1"></i>
            EDITAR PRODUCTO
        </button>
    </div>
</div>

<!-- Upload-Modal -->
<div class="modal uploadModal fade"
    id="uploadProduct" tabindex="-1" role="dialog" 
    aria-labelledby="uploadProductLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Algunas opciones mas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="filters" *ngIf="!loading">
                    <div class="filter certificacion">
                        <div class="filter-title">
                            <label for="">Certificación</label>
                        </div>
                        <div class="filter-options">
                            <ul class="ks-cboxtags">
                                <li *ngFor='let certificacion of filters.certificaciones'>
                                    <input type="checkbox" 
                                            [attr.id]='certificacion.formattedFilter'  
                                            [attr.value]='certificacion.formattedFilter'>
                                    <label (click)="filterChanged('certificacion', certificacion.formattedFilter)"
                                           [attr.for]='certificacion.formattedFilter'>
                                        <i class='fa fa-plus add-icon'></i>
                                        <i class='fa fa-check check-icon'></i>
                                        {{ certificacion.nombre }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter rubros">
                        <div class="filter-title">
                            <label for="">Rubros</label>
                        </div>
                        <div class="filter-options">
                            <ul class="ks-cboxtags">
                                <li *ngFor='let rubro of filters.rubros'>
                                    <input type="checkbox" [attr.id]='rubro.formattedFilter'  
                                            [attr.value]='rubro.formattedFilter'>
                                    <label (click)="filterChanged('rubro', rubro.formattedFilter)"
                                            [attr.for]='rubro.formattedFilter'>
                                        <i class='fa fa-plus add-icon'></i>
                                        <i class='fa fa-check check-icon'></i>
                                        {{ rubro.nombre }}
                                    </label>
                                </li>
                            </ul>
                    </div>
                    </div>
                    <div class="filter tipos">
                        <div class="filter-title">
                            <label for="">Tipos</label>
                        </div>
                        <div class="filter-options">
                            <ul class="ks-cboxtags">
                                <li *ngFor='let tipo of filters.tipos'>
                                    <input type="checkbox" [attr.id]='tipo.formattedFilter'  
                                            [attr.value]='tipo.formattedFilter'>
                                    <label (click)="filterChanged('tipo', tipo.formattedFilter)"
                                            [attr.for]='tipo.formattedFilter'>
                                        <i class='fa fa-plus add-icon'></i>
                                        <i class='fa fa-check check-icon'></i>
                                        {{ tipo.nombre }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter esta-refrigerado">    
                        <div class="filter-title">
                            <label for="refrigerado">Refrigerado</label>
                        </div>
                        <div class="filter-options">
                            <div class="checkbox-new">
                                <p>No</p>
                                <div class="checkbox-input">
                                    <input type="checkbox" id="refrigerado" style="display:none"
                                           [(ngModel)]="product.estaRefrigerado" name='estaRefrigerado'/>
                                    <label for="refrigerado" class="toggle">
                                        <span></span>
                                    </label>
                                </div>
                                <p>Si</p>
                            </div>
                        </div>
                    </div>
                    <div class="progreso" *ngIf="uploadProgress">
                        <p>Subiendo..</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" 
                                style="width: 100%" aria-valuenow="100" 
                                aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="add-to-cart mt-4">
                        <button (click)='uploadProduct()'>
                            <i class="fa fa-save mr-1"></i>
                            SUBIR PRODUCTO
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
