.tienda-content{
    width: 100%;
    max-width: 1400px;
    margin:0 auto;
    padding: 20px;
}

.title-top-tienda{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    border-bottom: 1px solid #DE1B1B;
}

.title-top-tienda .title{
    width: 30%;
}

.title-top-tienda .title h2{
    font-size: 21px;
    font-weight: normal;
    margin: 0 0 12px 0;
    padding: 14px 0 0;
    color: #DE1B1B ;
}


.title-top-tienda .search{
    width: 40%;
    display: flex;
    padding-bottom: 9px;
}

.title-top-tienda .mi-surtido button{
    width: 100%;
    padding: 10px 0;
    color: white;
    background: rgb(211, 45, 45);
    border: 1px solid rgb(211, 45, 45);
    font-size: 14px;
    padding: 15px 0px;
    width: 150px;
}

.title-top-tienda .mi-surtido button:hover{
    background: white;
    color:rgb(211, 45, 45);
    transition: .3s all ease;
}

.title-top-tienda .search .input-text{
    border: 1px solid rgba(222, 27, 27, .7);
    border-radius: 0px 2px 2px 0;
}

.title-top-tienda .search .input-text input[type='text']{
    padding: 12px;
}


.title-top-tienda  .search .input-text button{
    height: 39px;
}

.title-top-tienda  .search .input-text button i{
    font-size: 18px;
}

.display-type{
    margin-top: 40px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.display-type p{
    margin-right: 15px;
    color: #DE1B1B;
    font-size: 18px;
}

.display-type i:first-child{
    margin-right: 10px;
}

.display-type i{
    padding: 8px 11px;
    color: rgb(231, 86, 86);
    border: 1px solid rgb(231, 86, 86);
    border-radius: 3px;
    cursor: pointer;
}

.display-type .active i{
    background:rgb(231, 86, 86);
    color: white;
    transition: .3s all ease;
}

.tienda .bottom-tienda{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.tienda .bottom-tienda .sidebar{
    width: 23%;
    padding: 20px 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(144, 140, 140, .6);
}

.tienda .bottom-tienda .sidebar h4{
    font-size: 18px;
}

.tienda .bottom-tienda .sidebar .filter{
    margin-bottom: 20px;
}

.tienda .bottom-tienda .sidebar .filter .filter-title label{
    margin-bottom: 5px !important;
    font-size: 16px;
    color: #5c5858;
    padding-left: 5px;
}

.tienda .sidebar .filters .esta-refrigerado {
    padding-left: 10px;
    margin-top: 20px;
}

.tienda .sidebar .filters .esta-refrigerado .checkbox-new{
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.tienda .sidebar .filters .esta-refrigerado .checkbox-new .checkbox-input{
    margin: 1px 7px 0 7px;
}

.tienda .sidebar .filters .esta-refrigerado .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.tienda .sidebar .filters .esta-refrigerado .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: gray;
    border-radius: 8px;
    transition: background .2s ease;
}

.tienda .sidebar .filters .esta-refrigerado span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(gray, .5);
    transition: all .2s ease;
}

.tienda .sidebar .filters .esta-refrigerado span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(rgba(211, 45, 45), .5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.tienda .sidebar .filters .esta-refrigerado #refrigerado:checked+.toggle:before {
    background: rgb(223, 144, 144);
}

.tienda .sidebar .filters .esta-refrigerado #refrigerado:checked+.toggle span {
    background: rgb(211, 45, 45);
    transform: translateX(20px);
    transition: all .2s cubic-bezier(.8, .4, .3, 1.25), background .15s ease;
    box-shadow: 0 3px 8px rgba(rgba(211, 45, 45), .2);
}

.tienda .sidebar .filters .esta-refrigerado #refrigerado:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all .4s ease;
}

.tienda .sidebar .clean-filters button{
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    background: rgb(211, 45, 45);
    color: white;
    border: 1px solid rgb(211, 45, 45);
    margin-top: 10px;
}

.tienda .sidebar .clean-filters button:hover{
    transition: .3s all ease;
    color: rgb(211, 45, 45);
    background: white;
}

.tienda .bottom-tienda .products{
    display: flex;
    flex-wrap: wrap;
    width: 77%;
}

.tienda .bottom-tienda .products app-product{
    width: 23%;
    margin-bottom: 20px;
    border-radius: 3px;
    margin-left: 15px;
}