<div class="tienda animated fadeIn faster">
    <div class="tienda-content">
        <div class="title-top-tienda">
            <div class="pl-2 title">
                <h2>TIENDA</h2>
            </div>
            <div class="search">
                <div class="input-group input-text">
                    <input [(ngModel)]="filtersToApply.termino" (keyup)='searchProducts()'
                        type="text" placeholder="Busca un producto" name='termino'>
                    <div class="submit-btn">
                        <button type='submit'>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="display-type">
            <p>Vista</p>
            <div class="normal active">
                <i class="fa fa-th-large" aria-hidden="true"></i>
            </div>
            <div class="list">
                <i class="fa fa-th-list" aria-hidden="true"></i>
            </div>
        </div> -->
        <div class="bottom-tienda">
            <div class="sidebar">
                <div class="sidebar-title">
                    <h4>Filtros de búsqueda</h4>
                    <hr>
                </div>
                <div class="filters">
                    <div class="filter certificacion">
                        <div class="filter-title">
                            <label for="">Certificación</label>
                        </div>
                        <div class="filter-options">
                            <ul class="ks-cboxtags">
                                <li *ngFor='let certificacion of filters.certificaciones'>
                                    <input type="checkbox" [attr.id]='certificacion.formattedFilter'  
                                            [attr.value]='certificacion.formattedFilter'>
                                    <label (click)="filterChanged('certificacion', certificacion.formattedFilter)"
                                        [attr.for]='certificacion.formattedFilter'>
                                        <i class='fa fa-plus add-icon'></i>
                                        <i class='fa fa-check check-icon'></i>
                                        {{ certificacion.nombre }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter rubros">
                        <div class="filter-title">
                            <label for="">Rubros</label>
                        </div>
                        <div class="filter-options">
                            <ul class="ks-cboxtags">
                                <li *ngFor='let rubro of filters.rubros'>
                                    <input type="checkbox" [attr.id]='rubro.formattedFilter'  
                                            [attr.value]='rubro.formattedFilter'>
                                    <label (click)="filterChanged('rubro', rubro.formattedFilter)"
                                        [attr.for]='rubro.formattedFilter'>
                                        <i class='fa fa-plus add-icon'></i>
                                        <i class='fa fa-check check-icon'></i>
                                        {{ rubro.nombre }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter tipos">
                        <div class="filter-title">
                            <label for="">Tipos</label>
                        </div>
                        <div class="filter-options">
                            <ul class="ks-cboxtags">
                                <li *ngFor='let tipo of filters.tipos'>
                                    <input (click)="filterChanged('tipo', tipo.formattedFilter)"
                                        type="checkbox" [attr.id]='tipo.formattedFilter'  
                                            [attr.value]='tipo.formattedFilter'>
                                    <label [attr.for]='tipo.formattedFilter'>
                                        <i class='fa fa-plus add-icon'></i>
                                        <i class='fa fa-check check-icon'></i>
                                        {{ tipo.nombre }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter esta-refrigerado">    
                        <div class="filter-title">
                            <label for="refrigerado">Refrigerado</label>
                        </div>
                        <div class="filter-options">
                            <div class="checkbox-new">
                                <p>No</p>
                                <div class="checkbox-input">
                                    <input [(ngModel)]="filtersToApply.estaRefrigerado" name="estaRefrigerado"
                                        type="checkbox" id="refrigerado" style="display:none" />
                                    <label for="refrigerado" class="toggle">
                                        <span></span>
                                    </label>
                                </div>
                                <p>Si</p>
                            </div>
                        </div>
                    </div>
                    <div class="filter select-marcas">
                        <div class="select-title">
                            <label for="tipo">Marcas</label>
                        </div>
                        <select [(ngModel)]="filtersToApply.marca" name='marca'  *ngIf="!loadingService.loading"
                            class="input-select" id="tipo">
                            <option value="">Selecciona una marca</option>
                            <option [value]="marca.formattedFilter" *ngFor='let marca of filters.marcas'>
                                {{ marca.nombre }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="filters-submit-button">
                    <button (click)='applyFilters()'
                    >Aplicar filtros</button>
                </div>
            </div>
            <div class="products normal-display">
                <app-product *ngFor='let product of products'
                    [product]='product'>
                </app-product>
            </div>
        </div>
    </div>
</div>

<!-- <h2>Seccion en desarrolo, proximamente...</h2> -->