<div class="tienda animated fadeIn faster">
    <div class="tienda-content">
        <div class="title-top-tienda">
            <div class="pl-2 title">
                <h2>TIENDA 
                    <span class='results ml-1'>
                        ({{ productsCount }} {{ (productsCount === 1) ? 'resultado' : 'resultados' }})
                    </span>
                </h2>
            </div>
            <div class="search">
                <div class="mi-surtido">
                    <button routerLink='/surtido' *ngIf='loginService.user && loginService.user._id'
                        class='mi-surtido-btn mr-4'>
                        Mi surtido
                    </button>
                </div>
                <div class="input-group input-text">
                    <input [(ngModel)]="filtersToApply.termino" (keyup)='searchProducts()'
                        type="text" placeholder="Busca un producto" name='termino'>
                    <div class="submit-btn">
                        <button type='submit'>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="display-type">
            <p>Vista</p>
            <div class="normal active">
                <i class="fa fa-th-large" aria-hidden="true"></i>
            </div>
            <div class="list">
                <i class="fa fa-th-list" aria-hidden="true"></i>
            </div>
        </div> -->
        <div class="bottom-tienda">
            <div class="sidebar">
                <div class="sidebar-title">
                    <h4>Filtros de búsqueda 
                        <span class='results ml-1'>
                            ({{ productsCount }} {{ (productsCount === 1) ? 'resultado' : 'resultados' }})
                        </span>
                    </h4>
                    <hr>
                </div>
                <div class="filters-content">
                    <div class="filters">
                        <div class="filter certificacion desplegable">
                            <div class="filter-title" (click)='handleOptions("certificacion")'>
                                <label for="">Certificación</label>
                                <i class="fa fa-chevron-down"></i>
                            </div>
                            <div class="filter-options">
                                <ul class="ks-cboxtags">
                                    <li *ngFor='let certificacion of filters.certificaciones'>
                                        <input type="checkbox" [attr.id]='certificacion.formattedFilter'  
                                                [attr.value]='certificacion.formattedFilter'
                                                [checked]='this.filtersToApply.certificaciones.indexOf(certificacion.formattedFilter) >= 0'
                                                [ngClass]="{'active': this.filtersToApply.certificaciones.indexOf(certificacion.formattedFilter) >= 0}">
                                        <label (click)="filterChanged('certificacion', certificacion.formattedFilter)"
                                            [attr.for]='certificacion.formattedFilter'>
                                            <i class='fa fa-plus add-icon'></i>
                                            <i class='fa fa-check check-icon'></i>
                                            {{ certificacion.nombre }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter rubros desplegable">
                            <div class="filter-title" (click)='handleOptions("rubros")'>
                                <label for="">Rubros</label>
                                <i class="fa fa-chevron-down"></i>
                            </div>
                            <div class="filter-options">
                                <ul class="ks-cboxtags">
                                    <li *ngFor='let rubro of filters.rubros'>
                                        <input type="checkbox" [attr.id]='rubro.formattedFilter'  
                                                [attr.value]='rubro.formattedFilter'
                                                [checked]='this.filtersToApply.rubros.indexOf(rubro.formattedFilter) >= 0'
                                                [ngClass]="{'active': this.filtersToApply.rubros.indexOf(rubro.formattedFilter) >= 0}">
                                        <label (click)="filterChanged('rubro', rubro.formattedFilter)"
                                            [attr.for]='rubro.formattedFilter'>
                                            <i class='fa fa-plus add-icon'></i>
                                            <i class='fa fa-check check-icon'></i>
                                            {{ rubro.nombre }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter tipos desplegable">
                            <div class="filter-title" (click)='handleOptions("tipos")'>
                                <label for="">Tipos</label>
                                <i class="fa fa-chevron-down"></i>
                            </div>
                            <div class="filter-options">
                                <ul class="ks-cboxtags">
                                    <li *ngFor='let tipo of filters.tipos'>
                                        <input (click)="filterChanged('tipo', tipo.formattedFilter)"
                                            type="checkbox" [attr.id]='tipo.formattedFilter'  
                                                [attr.value]='tipo.formattedFilter'
                                                [checked]='this.filtersToApply.tipos.indexOf(tipo.formattedFilter) >= 0'
                                                [ngClass]="{'active': this.filtersToApply.tipos.indexOf(tipo.formattedFilter) >= 0}">
                                        <label [attr.for]='tipo.formattedFilter'>
                                            <i class='fa fa-plus add-icon'></i>
                                            <i class='fa fa-check check-icon'></i>
                                            {{ tipo.nombre }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="filter esta-refrigerado">    
                            <div class="filter-title">
                                <label for="refrigerado">Refrigerado</label>
                            </div>
                            <div class="filter-options">
                                <div class="checkbox-new">
                                    <p>No</p>
                                    <div class="checkbox-input">
                                        <input [(ngModel)]="filtersToApply.estaRefrigerado" (change)='applyFilters(true)'
                                            name="estaRefrigerado"
                                            type="checkbox" id="refrigerado" style="display:none" />
                                        <label for="refrigerado" class="toggle">
                                            <span></span>
                                        </label>
                                    </div>
                                    <p>Si</p>
                                </div>
                            </div>
                        </div>
                        <div class="filter select-marcas" *ngIf="!loadingService.loading">
                            <div class="select-title">
                                <label for="tipo">Marcas</label>
                            </div>
                            <select [(ngModel)]="filtersToApply.marca" (change)='applyFilters()'
                                name='marca'
                                class="input-select" id="tipo">
                                <option value="">Selecciona una marca</option>
                                <option [value]="marca.formattedFilter" *ngFor='let marca of filters.marcas'>
                                    {{ marca.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="clean-filters">
                        <button (click)='resetFilters()'>Limpiar filtros</button>
                    </div>
                </div>
                <div class="sidebar-arrow" onclick='handleFilters()'>
                    <button>
                        <i class="fa fa-chevron-up down"></i>
                    </button>
                </div>
            </div>
            <div class="mi-surtido-mobile w-100">
                <button routerLink='/surtido' *ngIf='loginService.user && loginService.user._id'
                    class='mi-surtido-btn'>
                    Mi surtido
                </button>
            </div>
            <div class="products normal-display">
                <app-product *ngFor='let product of products'
                    [product]='product'
                    [ngClass]="{'visible': !loginService.user._id || product.visibleFor === loginService.user.role || product.visibleFor === 'BOTH' || loginService.user.role  === 'ADMIN_ROLE'}">
                </app-product>
            </div>
        </div>

        <div class='tienda-pagination' *ngIf='pages.length > 1'>
            <nav>
                <ul class="pagination" *ngIf='searchType === null'>
                    <li class="page-item switch">
                        <a *ngIf='currentPage !== 1'
                            class="page-link clickable" (click)='switchPage("prev")'>Anterior</a>
                        <a class="page-link" *ngIf='currentPage === 1'
                            tabindex="-1" aria-disabled="true">
                            Anterior
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="{active: page === currentPage}"
                        *ngFor='let page of pages'>
                        <a *ngIf='page === (currentPage - 1) || page === (currentPage + 1) || page === currentPage || (page === 3 && currentPage === 1)'
                            class="page-link" (click)='switchPage(page)'>{{ page }}</a>
                    </li>
                    <li class="page-item switch">
                        <a *ngIf='currentPage !== pages.length'
                            class="page-link clickable" (click)='switchPage("next")'>
                            Siguiente
                        </a>
                        <a class="page-link" *ngIf='currentPage === pages.length'
                            tabindex="-1" aria-disabled="true">
                            Siguiente
                        </a>
                    </li>
                </ul>

                <ul class="pagination" *ngIf='searchType === "query"'>
                    <li class="page-item switch">
                        <a *ngIf='queryPage !== 1'
                            class="page-link clickable" (click)='switchPage("prev")'>Anterior</a>
                        <a class="page-link" *ngIf='queryPage === 1'
                            tabindex="-1" aria-disabled="true">
                            Anterior
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="{active: page === queryPage}"
                        *ngFor='let page of pages'>
                        <a *ngIf='page === (queryPage - 1) || page === (queryPage + 1) || page === queryPage || (page === 3 && queryPage === 1)'
                        class="page-link" (click)='switchPage(page)'>{{ page }}</a>
                    </li>
                    <li class="page-item switch">
                        <a *ngIf='queryPage !== pages.length'
                            class="page-link clickable" (click)='switchPage("next")'>
                            Siguiente
                        </a>
                        <a class="page-link" *ngIf='queryPage === pages.length'
                            tabindex="-1" aria-disabled="true">
                            Siguiente
                        </a>
                    </li>
                </ul>

                <ul class="pagination" *ngIf='searchType === "filters"'>
                    <li class="page-item switch">
                        <a *ngIf='filtersPage !== 1'
                            class="page-link clickable" (click)='switchPage("prev")'>Anterior</a>
                        <a class="page-link" *ngIf='filtersPage === 1'
                            tabindex="-1" aria-disabled="true">
                            Anterior
                        </a>
                    </li>
                    <li class="page-item" [ngClass]="{active: page === filtersPage}"
                        *ngFor='let page of pages'>
                        <a *ngIf='page === (filtersPage - 1) || page === (filtersPage + 1) || page === filtersPage || (page === 3 && filtersPage === 1)'
                        class="page-link" (click)='switchPage(page)'>{{ page }}</a>
                    </li>
                    <li class="page-item switch">
                        <a *ngIf='filtersPage !== pages.length'
                            class="page-link clickable" (click)='switchPage("next")'>
                            Siguiente
                        </a>
                        <a class="page-link" *ngIf='filtersPage === pages.length'
                            tabindex="-1" aria-disabled="true">
                            Siguiente
                        </a>
                    </li>
                </ul>
              </nav>
        </div>
    </div>
</div>

<div class="modal fade product-info-modal" id="productInfoModal" tabindex="-1" role="dialog" aria-labelledby="productInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" *ngIf='productToShowMoreInfo'>
                <h5 class="modal-title" id="productInfoModalLabel">{{ productToShowMoreInfo.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf='productToShowMoreInfo'>
                <p>
                    {{ productToShowMoreInfo.moreInfo }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>