<div class="tienda animated fadeIn faster">
    <div class="mt-2 tienda-content">
        <div class="title-top-tienda">
            <div class="title">
                <h2>NUESTROS PRODUCTOS</h2>
            </div>
            <div class="search">
                <div class="input-group input-text">
                    <input type="text" placeholder="Busca un producto">
                    <div class="submit-btn">
                        <button type='submit'>
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-tienda">
            <div class="sidebar">
                <div class="sidebar-title">
                    <h4>Filtros de búsqueda</h4>
                    <hr>
                </div>
                <div class="selects-category">
                    <div class="select">
                        <div class="select-title">
                            <label for="certificacion">Certificación</label>
                        </div>
                        <select class="input-select" id='certificacion'>
                            <option value="">Selecciona certificación</option>
                            <option value="sin_tac">Alimentos sin tacc</option>
                            <option value="veganos">Alimentos veganos</option>
                            <option value="sin_azucar">Alimentos sin azúcar agregado</option>
                            <option value="organicos">Alimentos orgánicos</option>
                            <option value="convencioales">Alimentos convencionales</option>
                        </select>
                    </div>
    
                    <div class="select">
                        <div class="select-title">
                            <label for="rubro">Rubro</label>
                        </div>
                        <select class="input-select" id='rubro'>
                            <option value="">Selecciona rubro</option>
                            <option value="almacen">Productos de Almacen</option>
                            <option value="dietetica">Productos de Dietética</option>
                            <option value="farmacia">Productos de Farmacia</option>
                            <option value="kisco">Productos de Kiosko</option>
                        </select>
                    </div>
    
                    <div class="select">
                        <div class="select-title">
                            <label for="tipo">Tipo</label>
                        </div>
                        <select class="input-select" id='tipo'>
                            <option value="">Selecciona tipo</option>
                            <option value="lacteos">Lacteos</option>
                            <option value="infusiones">Infusiones</option>
                            <option value="snack_y_galletitas">Snack y Galletitas</option>
                            <option value="miel_y_mermeladas">Miel y Mermeladas</option>
                        </select>
                    </div>
                        
                </div>
            </div>
            <div class="products">
                <app-product></app-product>
                <app-product></app-product>
                <app-product></app-product>
                <app-product></app-product>
                <app-product></app-product>
                <app-product></app-product>
                <app-product></app-product>
                <app-product></app-product>  
            </div>
        </div>
    </div>
</div>

