<div class="container-fluid admin-products mt-2">
    <div class="row">
        <div class="col-md-8 productos">
            <div class="admin-title">
                <h2>Lista de {{ filterType }}</h2>
                <div class="search">
                    <div class="input-group input-text">
                        <input #term type="text" (keyup)='searchFilters(term.value, $event)'
                            placeholder="Busca un producto">
                        <div class="submit-btn">
                            <button type='button'>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Imagén</th>
                            <th scope="col">Nombre</th>
                            <!-- <th scope="col">Precio u.</th> -->
                            <th scope="col">Controles</th>
                        </tr>
                    </thead>
                    <tbody *ngIf='!loading'>
                        <tr class='product-item' *ngFor='let filter of filters'>
                            <th scope="row" *ngIf='filter.img'>
                                <div class="img">
                                    <img class='img-fluid img-circle' 
                                    [src]="filter.img" alt="">
                                </div>
                            </th>
                            <td class='title'>{{ filter.nombre }}</td>
                            <!-- <td class='price'>$ {{ filter.precioUnit }}</td> -->
                            <td class='controls'>
                                <div class="edit">
                                    <!-- <button (click)='openEditModal(product)'
                                        class="btn btn-outline-success"
                                        data-toggle="modal" data-target="#editModal">
                                        Editar
                                    </button> -->
                                    <button
                                        class="btn btn-outline-success"
                                        data-toggle="modal" data-target="#editModal">
                                        Editar
                                    </button>
                                </div>
                                <div class="delete">
                                    <button class="btn btn-outline-danger">
                                        Borrar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <div class="loading" *ngIf="loading">
                        <div class="loading-content">
                            <div class="text">
                                <p>Cargando Filtros</p>
                            </div>
                            <div class="icons">
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h2 class='mb-4'>Agregar {{ filterType }}</h2>
            <div class="row justify-content-center">
                <div class="new-filter col-md-12 mt-4">
                    <form action="">
                        <div class="form-group d-flex flex-column">
                            <label for="imagen">Imágen</label>
                            <input type="file" (change)='imgSelected( $event )' id='imagen'>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input class='form-control' [(ngModel)]="filter.nombre" name='nombre'
                                type="text" id='nombre' placeholder="Nombre">
                        </div>
                        <div class="form-group" *ngIf="filterType === 'marcas'">
                            <label for="url">Link</label>
                            <input class='form-control' [(ngModel)]="filter.url" name='url'
                                type="text" id='url' placeholder="Url">
                        </div>
                        <div class="submit-btn text-center">
                            <button (click)='uploadFilter()' class='btn btn-outline-danger'>
                                Subir {{ filterType }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>