<div class="container-fluid admin-products mt-2 animated fadeIn faster">
    <div class="row">
        <div class="col-md-8 productos">
            <div class="admin-title">
                <h2>Lista de {{ filterType }}</h2>
                <div class="search">
                    <div class="input-group input-text">
                        <input #term type="text" (keyup)='searchFilters(term.value, $event)'
                            [attr.placeholder]="'Busca ' + filterType">
                        <div class="submit-btn">
                            <button type='button'>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th *ngIf="filterType !== 'tipos' && filterType !== 'rubros'"
                                scope="col">
                                Imagén
                            </th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Controles</th>
                        </tr>
                    </thead>
                    <tbody *ngIf='!loading'>
                        <tr class='product-item' *ngFor='let filter of filters'>
                            <th  *ngIf="filter.imagen && filterType !== 'tipos' && filterType !== 'rubros'"
                                scope="row">
                                <div class="img">
                                    <img class='img-fluid img-circle' 
                                    [src]="filter.imagen" alt="">
                                </div>
                            </th>
                            <td class='title'>{{ filter.nombre }}</td>
                            <td class='controls'>
                                <div class="edit">
                                    <button (click)='openEditModal(filter)'
                                        class="btn btn-outline-success"
                                        data-toggle="modal" data-target="#editFilter">
                                        Editar
                                    </button>
                                </div>
                                <div class="delete">
                                    <button (click)='deleteFilter(filter)'
                                        class="btn btn-outline-danger">
                                        Borrar
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <div class="loading" *ngIf="loading">
                        <div class="loading-content">
                            <div class="text">
                                <p>Cargando Filtros</p>
                            </div>
                            <div class="icons">
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-success" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="spinner-grow text-danger" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h2 class='mb-4'>Agregar {{ filterType }}</h2>
            <div class="row justify-content-center">
                <div class="form-container col-md-10">
                <app-filters-form [filterType]='filterType'></app-filters-form>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit-Modal -->
<div class="modal editModal fade" *ngIf="filterToEdit"
    id="editFilter" tabindex="-1" role="dialog" 
    aria-labelledby="editFilterLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <app-filters-form [filter]='filterToEdit' [filterType]='filterType'>

            </app-filters-form>
        </div>
        </div>
    </div>
</div>