<div class="container admin-products mt-2 animated fadeIn faster">
    <div class="row">
        <div class="col-md-12 productos">
            <div class="admin-title">
                <h2>Lista de mensajes</h2>
            </div>
            <div class="filter d-flex justify-content-end">
                <div class="form-group w-50">
                    <select [(ngModel)]="filter" name="filter"
                        (change)= 'applyFilter()'
                        id="filter" class="form-control">
                        <option value="">Mostrar todos</option>
                        <option value="leidos">Leídos</option>
                        <option value="no-leidos">No leídos</option>
                        <option value="destacados">Destacados</option>
                    </select>
                </div>
                </div>
            <div class="mensajes mt-4">
                <div id="accordion">
                    <div class="card" *ngFor='let message of messages'>
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                            <button class="btn btn-link w-100 collapsed d-flex justify-content-between" 
                                data-toggle="collapse" [attr.data-target]="'#lol' + message._id" aria-expanded="false" aria-controls="collapseTwo">
                                Mensaje recibido de {{ message.name }} el {{ message.date | date:'dd-MM-yyyy' }}.
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            </h5>
                        </div>
                        <div [attr.id]="'lol' + message._id" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="info d-flex justify-content-between">
                                    <p>Mail: {{ message.email }}</p>
                                    <p>Telefono: {{ message.phone }}</p>
                                    <p>Asunto: {{ message.affair }}</p>
                                </div>
                                <hr>
                                <div class="message mt-4">
                                    <p>{{ message.message }}</p>
                                </div>
                                <div class="check mt-3 d-flex justify-content-center">

                                    <button (click)='checkAsRead(message, true)' *ngIf='!message.readed'
                                        class='btn btn-outline-info'>
                                        Marcar como leído
                                    </button>
                                    <div class="readed" *ngIf='message.readed'>
                                        <button (click)='checkAsRead(message, false)'
                                            class='btn btn-outline-info mr-2'>
                                            Marcar como no leído
                                        </button> 
                                        <button (click)='removeMessage(message)' 
                                            class='btn btn-outline-danger'>
                                            Eliminar
                                        </button>
                                    </div>

                                    <button *ngIf='!message.important' (click)='handleImportant(message, true)'
                                        class="btn btn-outline-warning ml-2">
                                        <i class="fa fa-star"></i>
                                        Destacado
                                    </button>

                                    <button *ngIf='message.important' (click)='handleImportant(message, false)'
                                        class="btn btn-warning ml-2 text-white">
                                        <i class="fa fa-star"></i>
                                        Quitar destacado
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
