.profile-options{
    margin-bottom: 15vh;
}

.profile-options>form>div{
    padding: 20px;
    box-shadow: 1px 1px 3px gray;
    border-radius: 3px;
    width: 100%;
}

.profile-form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-form-group>div{
    width: 49%;
}

.first-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.first-group > div{
    width: 32%;
}

.horarios .horario .checkbox-new{
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.horarios .horario .checkbox-new .checkbox-input{
    margin: 1px 7px 0 7px;
}

.horarios .horario .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.horarios .horario .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: gray;
    border-radius: 8px;
    transition: background .2s ease;
}

.horarios .horario span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(gray, .5);
    transition: all .2s ease;
}

.horarios .horario span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(rgba(211, 45, 45), .5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.horarios .horario input:checked+.toggle:before {
    background: rgb(223, 144, 144);
}

.horarios .horario input:checked+.toggle span {
    background: rgb(211, 45, 45);
    transform: translateX(20px);
    transition: all .2s cubic-bezier(.8, .4, .3, 1.25), background .15s ease;
    box-shadow: 0 3px 8px rgba(rgba(211, 45, 45), .2);
}

.horarios .horario input:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all .4s ease;
}

.horarios .horario .hora{
    position: relative;
}

.horarios .horario .hora i {
    position: absolute;
    top:10px;
    right: 20px;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 6px;
    color: white;
    border-radius: 50%;
    background: #DE1B1B;
    cursor: pointer;
}

.horarios .horario .hora i:hover{
    transition: .3s all ease;
    opacity: .7;
}

@media screen and (max-width: 600px) {
    .first-group > div{
        width: 48%;
    }

    .first-group > div.last-one{
        width: 100%;
    }
}