<section class="main animated fadeIn faster">
    <div class="slider">
        <ul class="slider-container">
            <ul>
                <li class="slider-item">
                    <img src="../../../../assets/img/slider/1.jpg" alt="">
                </li>
                <li class="slider-item">
                    <img src="../../../../assets/img/slider/2.jpeg" alt="">
                </li>
                <li class="slider-item">
                    <img src="../../../../assets/img/slider/3.jpeg" alt="">
                </li>
                <li class="slider-item">
                    <img src="../../../../assets/img/slider/4.jpg" alt="">
                </li>
                <li class="slider-item">
                    <img src="../../../../assets/img/slider/5.jpg" alt="">
                </li>
            </ul>
        </ul>
        <div onclick="slideControls('prev')" class="slider-control control-left" id='slider_control_prev'>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
        <div onclick="slideControls('next')" class="slider-control control-right" id='slider_control_next'>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
    </div>
    <div class="productos-destacados">
        <div class="categories">
            <div class="container categories-container">
                <div class="category">
                    <div class='category-content'>
                        <div class="img">
                            <img src="../../../../assets/img/frutos-secos.jpg" alt="Alimentos organicos">
                        </div>
                        <div class="text">
                            <h4>Alimentos organicos</h4>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <div class='category-content'>
                        <div class="img">
                            <img src="../../../../assets/img/veganos.jpg" alt="Alimentos veganos">
                        </div>
                        <div class="text">
                            <h4>Alimentos veganos</h4>
                        </div>
                    </div>
                </div>
                <div class="category">
                    <div class='category-content'>
                        <div class="img">
                            <img src="../../../../assets/img/sin-tac.jpg" alt="Alimentos sin tacc">
                        </div>
                        <div class="text">
                            <h4>Alimentos sin tacc</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="title">
                <h2>Productos destacados</h2>
                <div class="controls">
                    <button><i class="fa fa-angle-left"></i></button>
                    <button><i class="fa fa-angle-right"></i></button>
                </div>
            </div>
            <div class="productos">
                <div class="producto">
                    <div class="img">
                        <img src="../../../../assets/img/productos/1783.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="product-name">
                            <p>CRACKERS SCHAR 210GR</p>
                        </div>
                        <div class="product-info">
                            <p>Marca: <span>SCHAR</span></p>
                            <p>Presentación: <span>Bulto cerrado</span></p>
                        </div>
                        <div class="product-prices">
                            <div class="unidad">
                                <p>Unidad</p>
                                <span>$112.57</span>
                            </div>
                            <div class="cantidad">
                                <p>5 unidades</p>
                                <span>$929.07</span>
                            </div>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button>
                            AGREGAR AL CARRITO
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>
                </div>
                <div class="producto">
                        <div class="img">
                            <img src="../../../../assets/img/productos/1783.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="product-name">
                                <p>CRACKERS SCHAR 210GR</p>
                            </div>
                            <div class="product-info">
                                <p>Marca: <span>SCHAR</span></p>
                                <p>Presentación: <span>Bulto cerrado</span></p>
                            </div>
                            <div class="product-prices">
                                <div class="unidad">
                                    <p>Unidad</p>
                                    <span>$112.57</span>
                                </div>
                                <div class="cantidad">
                                    <p>5 unidades</p>
                                    <span>$929.07</span>
                                </div>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button>
                                AGREGAR AL CARRITO
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                </div>
                <div class="producto">
                        <div class="img">
                            <img src="../../../../assets/img/productos/1783.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="product-name">
                                <p>CRACKERS SCHAR 210GR</p>
                            </div>
                            <div class="product-info">
                                <p>Marca: <span>SCHAR</span></p>
                                <p>Presentación: <span>Bulto cerrado</span></p>
                            </div>
                            <div class="product-prices">
                                <div class="unidad">
                                    <p>Unidad</p>
                                    <span>$112.57</span>
                                </div>
                                <div class="cantidad">
                                    <p>5 unidades</p>
                                    <span>$929.07</span>
                                </div>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button>
                                AGREGAR AL CARRITO
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                </div>
                <div class="producto">
                        <div class="img">
                            <img src="../../../../assets/img/productos/1783.jpg" alt="">
                        </div>
                        <div class="info">
                            <div class="product-name">
                                <p>CRACKERS SCHAR 210GR</p>
                            </div>
                            <div class="product-info">
                                <p>Marca: <span>SCHAR</span></p>
                                <p>Presentación: <span>Bulto cerrado</span></p>
                            </div>
                            <div class="product-prices">
                                <div class="unidad">
                                    <p>Unidad</p>
                                    <span>$112.57</span>
                                </div>
                                <div class="cantidad">
                                    <p>5 unidades</p>
                                    <span>$929.07</span>
                                </div>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button>
                                AGREGAR AL CARRITO
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nuestras-marcas">
        <div class="container">
            <div class="title">
                <h2>NUESTRAS MARCAS</h2>
                <div class="controls">
                    <button id='marcas_left'><i class="fa fa-angle-left"></i></button>
                    <button id='marcas_right'><i class="fa fa-angle-right"></i></button>
                </div>
            </div>
            <div class="display">
                <div class="display-container">

                    <div class="img col-sm-2 col-md-2" *ngFor='let marca of marcas'>
                        <a [href]='marca.url' target='_blank'>
                            <img [src]="'../../../../assets/img/marcas/' + marca.imagen" alt="">
                        </a>
                    </div>

                </div>
            </div>

            <div class="row banners">
                <div class="col-md-6 text-center margin-bottom-30">
                  <!-- <a href="./content/archivos/listadeprecios/Lista mayorista 01-10-2019.pdf" download="Lista mayorista 01-10-2019.pdf"> -->
                    <a href="https://docs.wixstatic.com/ugd/a3b5ea_1aa4aa12196f4b16ac8ea4f9ac8ae04f.pdf" target="_blank">
                        <img src="../../../../assets/img/banner-precios.jpg" class="img-responsive banners-bottom">
                    </a>
                </div>
                <div class="col-md-6 text-center margin-bottom-30">
                    <a onclick="scrollToDiv('contact')">
                      <img src="../../../../assets/img/asesoramiento-dieteticas.jpg" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="donde-estamos">
        <div class="title">
            <h2 class='question'>¿Donde estamos?</h2>
        </div>
        <div class="container">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3139.7768205047305!2d-57.57022358408841!3d-38.098858358184366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584e0c4f075cb57%3A0x9fdee22078fd2f2a!2sCalle%208%2C%20Mar%20del%20Plata%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1569885453400!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="contact-info">
                <p class="street">
                    <i class="fa-map-marker fa"></i>
                    Calle 8 N°3750 | Mar del Plata, Argentina
                </p>
                <a href="tel:+5492235314209" class="phone">
                    <i class="fa-phone fa"></i>
                    +54 9 223 531 4209
                </a>
                <a href="mailto:hola@todogourmet.com.ar" class="email">
                    <i class="fa-envelope fa"></i>
                    hola@todogourmet.com.ar
                </a>
                <div class="social">
                    <a href="https://www.facebook.com/todogourmetmdq/?view_public_for=462430561244449" target="_blank">
                        <i class="fa-facebook fa"></i>
                    </a>
                    
                    <a href="https://www.instagram.com/todogourmetmdq/" target="_blank">
                        <i class="fa-instagram fa"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="contactanos">
        <div class="title">
            <h2 class="question">¿Te interesan nuestro productos?</h2>
            <h2 class="answer">¡Contactanos!</h2>
        </div>
        <div class="container">
            <div class="contact-form">
                <form action="">
                    <div class="name-email group">
                        <input type="text" placeholder="Nombre *">
                        <input type="text" placeholder="Apellido">
                    </div>

                    <div class="phone-email group">
                        <input type="text" placeholder="Teléfono">
                        <input type="text" placeholder="Email *">
                    </div>
                    <div class="address-affair group">
                        <input type="text" placeholder="Dirección">
                        <input type="text" placeholder="Asunto">
                    </div>
                    
                    <textarea name="" id="" placeholder="Mensaje"></textarea>

                    <div class="button">
                        <button type="submit">Enviar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div onclick='goToTop()' class="to-top">
        <i class="fa fa-angle-up"></i>
    </div>

</section>
