<header>

    <div class="logo animated fadeInDown" routerLink='/home'>
        <img src="../../../../assets/img/logo.webp" alt="">
    </div>

    <nav class="gourmet-navbar">

        <ul *ngIf='page === "/home"'>
            <li routerLink='/home' routerLinkActive="active" class='animated fadeInDown'>Inicio</li>
            <li routerLink='/tienda' routerLinkActive="active" class='animated fadeInDown' (click)="page = 'tienda'">Tienda</li>
            <li routerLink='/home' onclick="scrollToDiv('marcas')" class='marcas-btn animated fadeInDown'>Nuestras Marcas</li>
            <li routerLink='/home' onclick="scrollToDiv('contact')" class='contacto-btn animated fadeInDown'>Contactanos!</li>
        </ul>

        <ul *ngIf="page !== '/home'">
            <li routerLink='/home' routerLinkActive="active" class='animated fadeInDown'>Inicio</li>
            <li routerLink='/tienda' routerLinkActive="active" class='animated fadeInDown' (click)="page = 'tienda'">Tienda</li>
            <li routerLink='/home/marcas' class='marcas-btn animated fadeInDown'>Nuestras Marcas</li>
            <li routerLink='/home/contact' class='contacto-btn animated fadeInDown'>Contactanos!</li>
        </ul>

    </nav>
</header>