<div class="producto">
    <div class="esta-refrigerado-o-no" *ngIf='product.estaRefrigerado'>
        <i [routerLink]="['/tienda', 'refrigerado', 'si']"
            class="fa fa-snowflake-o" aria-hidden="true"></i>
        <div class="product-popover">
            <p>Refrigerado</p>
        </div>
    </div>
    <div class="img">
        <img [src]="product.img | images" alt="" (load)='imageLoaded = true'>
        <div class="img-loading" *ngIf="!imageLoaded">
            <img src="../../../../assets/img/not-found.png" alt="">
        </div>
    </div>
    <div class="info">
        <div class="product-name">
            <p>{{ product.name }}</p>
        </div>
        <div class="product-info">
            <p>Marca: 
                <span class='marca' [routerLink]="['/tienda', 'marca', product.marca.formatted]">
                    {{ product.marca.nombre }}
                </span>
            </p>
        </div>
        <div class="certifications">
            <div class="imgs">
                <div *ngFor='let certification of certificaciones'
                     class="certification-img">
                    <img class='img-fluid' [src]='certification.imagen' alt=""
                        [routerLink]="['/tienda', 'certificacion', certification.formattedFilter]">
                    <div class="certification-popover">
                        <p>{{ certification.nombre }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-prices">
            <div class="unidad" [ngClass]="{active: product.quantity < 5}">
                <p>Unidad</p>
                <span *ngIf="loginService.user && loginService.user.role === 'COMMERCE_ROLE'">
                    ${{ product.precioComercio | number : '1.2-2' }}
                </span>
                <span *ngIf="!loginService.user || loginService.user.role !== 'COMMERCE_ROLE'">
                    ${{ product.precioUnit | number : '1.2-2' }}
                </span>
            </div>
            <div class="cantidad" [ngClass]="{active: product.quantity >= 5}">
                <p>Bulto (5 u.)</p>
                <span *ngIf="loginService.user && loginService.user.role === 'COMMERCE_ROLE'">
                    ${{ product.precioComercio | precioBulto: product.descuentoPorBulto }}
                </span>
                <span *ngIf="!loginService.user || loginService.user.role !== 'COMMERCE_ROLE'">
                    ${{ product.precioUnit | precioBulto: product.descuentoPorBulto }}
                </span>
            </div>
            <div class="subtotal">
                <div class="quantity">
                    <button class='less' [disabled]='product.quantity === 1'
                    (click)="quantityChanges('less', product)">-</button>
                    <input type="text" (change)="quantityChanges('changed', product)" [(ngModel)]="product.quantity" name='quantity'>
                    <button class='more' (click)="quantityChanges('more', product)">+</button>
                </div>
                <div class="subtotal-value" *ngIf='!product.total'>
                    <p>Subtotal: 
                        <span>$
                            {{ (loginService.user && loginService.user.role === 'COMMERCE_ROLE')
                                ? product.precioComercio
                                : product.precioUnit
                            }}
                        </span>
                    </p>
                </div>

                <div class="subtotal-value" *ngIf='product.total'>
                    <p>Subtotal: <span>${{ product.total }}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="add-to-cart">
        <button (click)='addToCart(product)'>
            AGREGAR AL CARRITO
            <i class="fa fa-shopping-cart"></i>
        </button>
    </div>
</div>
