<div class="producto">
    <div class="esta-refrigerado-o-no" *ngIf='product.estaRefrigerado'>
        <i class="fa fa-snowflake-o" aria-hidden="true"></i>
        <div class="product-popover">
            <p>Refrigerado</p>
        </div>
    </div>
    <div class="img">
        <img [src]="product.img" alt="" (load)='imageLoaded = true'>
        <div class="img-loading" *ngIf="!imageLoaded">
            <img src="../../../../assets/img/not-found.png" alt="">
        </div>
    </div>
    <div class="info">
        <div class="product-name">
            <p>{{ product.name }}</p>
        </div>
        <div class="product-info">
            <p>Marca: <span>{{ product.marca }}</span></p>
        </div>
        <div class="certifications">
            <div class="imgs">
                <div *ngFor='let certification of certificaciones'
                     class="certification-img">
                    <img class='img-fluid' [src]='certification.imagen' alt="">
                    <div class="certification-popover">
                        <p>{{ certification.nombre }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-prices">
            <div class="unidad">
                <p>Unidad</p>
                <span>${{ product.precioUnit | number : '1.2-2' }}</span>
            </div>
            <div class="cantidad">
                <p>Bulto (5 u.)</p>
                <span>${{ product.precioUnit | precioBulto: product.descuentoPorBulto }}</span>
            </div>
        </div>
    </div>
    <div class="add-to-cart">
        <button>
            AGREGAR AL CARRITO
            <i class="fa fa-shopping-cart"></i>
        </button>
    </div>
</div>
