/* Product styles */
.producto {
    box-shadow: 0px 0px 3px gray;
    background: white;
    border-radius: 5px;
    padding-bottom: .001rem;
    position: relative;
}

.producto .esta-refrigerado-o-no{
    position:absolute;
    top:0;
    right:0;
    z-index:9;
}

.producto .esta-refrigerado-o-no i{
    padding: 8px 9px;
    margin: 5px;
    font-size: 18px;
    /* background: rgb(105, 117, 218); */
    background: rgb(94, 148, 199);
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.producto .esta-refrigerado-o-no .product-popover{
    position: absolute;
    background: rgb(94, 148, 199);
    padding: 5px 15px;
    color: white;
    z-index: 99;
    border-radius: 20px;
    top: 40px;
    right: -28px;
    display: none;
}

.producto .esta-refrigerado-o-no:hover .product-popover{
    display: block;
}

.producto .esta-refrigerado-o-no .product-popover p{
    font-size: 13px;
}

.producto .img {
    max-height: 270px;
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}

.producto .img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.producto .img .img-loading{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.producto .img .img-loading img{
    width: 100%;
}

.producto .img .is-favourite i{
    position: absolute;
    bottom: 12px;
    right: 15px;
    font-size: 22px;
    color: rgb(194, 54, 49);
    cursor: pointer;
}

.producto .img .is-favourite>div{
    display: none;
}

.producto .img .is-favourite .active{
    display: block;
}

.producto .img .is-favourite .favourite .empty,
.producto .img .is-favourite .no-favourite .full{
    display: none;
}

/* .producto .img .is-favourite .favourite .full:hover,
.producto .img .is-favourite .no-favourite .empty:hover{
    transition: .3s all ease;
    display: none;
}

.producto .img .is-favourite .favourite .full:hover + .empty,
.producto .img .is-favourite .no-favourite .empty:hover + .full{
    transition: .3s all ease;
    display: block !important;
} */

.producto .info {
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.producto .info .product-name p {
    color: #DE1B1B;
    font-size: 14px;
    font-weight: bold;
}

.producto .info .product-info {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
}

.producto .info .product-info .marca{
    cursor: pointer;
}

.producto .info .product-info .marca:hover{
    transition: .3s all ease;
    color: #DE1B1B;
}

.producto .info .product-info p {
    font-size: 14px;
}

.producto .info .certifications{
    padding: 5px 0;
    border-bottom: 1px solid #dcdcdc;
}

.producto .info .certifications .imgs{
    display: flex;
    justify-content: space-around;
}

.producto .info .certifications .imgs .certification-img{
    width: 24%;
    cursor: pointer;
    position: relative;
}

.producto .info .certifications .imgs .certification-img img{
    max-height: 40px;
}

.producto .info .certifications .imgs .certification-img .certification-popover{
    position: absolute;
    top: 45px;
    width: 100%;
    left: -22px;
    /* background: rgb(231, 87, 87); */
    background: rgb(99, 190, 104);
    color: white;
    text-align: center;
    border-radius: 10px;
    display: none;
}

.producto .info .certifications .imgs .certification-img:hover .certification-popover{
    display: block;
    width: 85px;
}

.producto .info .certifications .imgs .certification-img .certification-popover p{
    font-size: 13px;
    /* white-space: nowrap; */
}

.producto .info .product-prices>div {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.producto .info .product-prices>div p {
    min-height: 32px;
    padding: 4px 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
}

.producto .info .product-prices>.active p{
    transition: .3s all ease;
    color: white;
    background: rgb(231, 66, 72);
    border: 1px solid rgb(231, 66, 72);
}

.producto .info .product-prices>div span {
    color: #ED1C24;
    font-weight: bold;
    font-size: 18px;
}

.producto .info .product-prices .subtotal{
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    align-items: center;
    border-top: 1px solid #cdcdcd;  
}

.producto .info .product-prices .subtotal .quantity{
    display: flex;
    align-items: center;
    width: 38%;
}

.producto .info .product-prices .subtotal .quantity button{
    background: none;
    border: none;
    font-size: 22px;
    padding: 0 8px;
    cursor: pointer;
    color: black;
    font-weight: normal;
    line-height: initial;
    background: red;
    color: white;
}

.producto .info .product-prices .subtotal .quantity button:disabled{
    background: #df9c9c;
}

.producto .info .product-prices .subtotal .quantity input{
    width: 80%;
    text-align: center;
    font-size: 15px;
    padding: 3.5px 0;
    border: none;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.producto .info .product-prices .subtotal .subtotal-value{
    width: 59%;
}

.producto .info .product-prices .subtotal .subtotal-value p{
    padding: 0;
    padding-left: 5%;
    margin-right: 0;
}

.producto .info .product-prices .subtotal .subtotal-value span{
    margin-left: 5px;
    font-size: 16px;
}

.add-to-cart {
    padding: 5px 10px;
    margin-bottom: 10px;
}

.add-to-cart button {
    width: 100%;
    border: none;
    background: #DE1B1B;
    color: white;
    padding: 10px;
}

.add-to-cart button:hover {
    background: rgb(158, 7, 7);
}

.add-to-cart button i {
    font-size: 18px;
    margin-left: 5px;
}

@media screen and (max-width: 600px){
    .producto .img{
        max-height: 400px !important;
    }
}