<div class="producto">
    <div class="esta-refrigerado-o-no">
        <i class="fa fa-snowflake-o" aria-hidden="true"></i>
    </div>
    <div class="img">
        <img src="../../../../assets/img/productos/1783.jpg" alt="">
    </div>
    <div class="info">
        <div class="product-name">
            <p>CRACKERS SCHAR 210GR</p>
        </div>
        <div class="product-info">
            <p>Marca: <span>SCHAR</span></p>
        </div>
        <div class="product-prices">
            <div class="unidad">
                <p>Unidad</p>
                <span>$112.57</span>
            </div>
            <div class="cantidad">
                <p>Bulto (5 u.)</p>
                <span>$929.07</span>
            </div>
        </div>
    </div>
    <div class="add-to-cart">
        <button>
            AGREGAR AL CARRITO
            <i class="fa fa-shopping-cart"></i>
        </button>
    </div>
</div>
