<div class="quienes-somos text-center ">
    <div class="container animated fadeIn faster">
        <h2>¿Quienes Somos?</h2>
        <p>Todo Gourmet nace del sueño compartido entre Diego y Agustín, de emprender un negocio próspero, que ofreciera la posibilidad mantener un equilibrio entre la vida laboral y personal.</p>
        <p>El Proyecto pasó por un proceso de cambios hasta llegar a su presente como Distribuidora de Productos Saludables y Gourmet. Entre estos cambios resaltamos la incursión por el mundo del Vino, y la distribución de chocolates y confituras.</p>
        <p>El 1/9/2018, se incorporan las primeras marcas apuntadas 100% a Productos Saludables y Gourmet. A finales de 2018, contabamos con 4 marcas:</p>
        <ul>
            <li>Guadalest</li>
            <li>Nina Felicidad</li>
            <li>Banda Naranja</li>
            <li>Gran Valle</li>
        </ul>

        <p>Actualmente trabajamos más de 25 marcas con exclusividad en la costa y localidades del interior de la provincia de Buenos Aires.</p>
        <p>La Misión de Todo Gourmet, es brindar el más amplio surtido de productos Premium para almacenes saludables. Nuestra Visión, es ofrecer el mejor servicio de distribución tanto en la venta como en el post venta, de forma sustentable en el tiempo.</p>
    </div>
</div>