.container {
    overflow: hidden;
}

.quienes-somos .quienes-somos-flex{
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.quienes-somos .quienes-somos-flex .img{
    margin-right: 5px;
}

.quienes-somos .quienes-somos-flex .img img{
    vertical-align: top;
    max-width: 600px;
    max-height: 600px;
}

.quienes-somos .quienes-somos-flex .text{
    text-align: left;
    margin-left: 10px;
}

h2 {
    margin-bottom: 20px;
}

p,
ul {
    margin: 0 auto;
    margin-bottom: 15px;
}

ul {
    text-align: left;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
