
<app-login></app-login>

<app-loading></app-loading>

<footer>
    <div class="container">
        <div class="site-info">
            <div class="footer-title">
                <p>MAPA DEL SITIO</p>
            </div>
            <div class="footer-content site-info-content">
                <ul class='left'>
                    <li>
                        <a routerLink='/home' onclick='goToTop()'>
                            HOME
                        </a>
                    </li>
                    <li>
                        <a routerLink='/tienda'>
                            PRODUCTOS
                        </a>
                    </li>
                    <li>
                        <a routerLink='/quienes-somos'>
                            QUIENES SOMOS
                        </a>
                    </li>
                </ul>
                <ul class='right home-page' *ngIf="page && page.indexOf('/home') >= 0">
                    <li>
                        <a onclick="scrollToDiv('contact')">
                            CONTACTO
                        </a>
                    </li>
                    <li>
                        <a routerLink='/encontranos-en'>
                            ENCONTRANOS EN
                        </a>
                    </li>
                    <li>
                        <a onclick="scrollToDiv('marcas')">
                            NUESTRAS MARCAS
                        </a>
                    </li>
                </ul>
                <ul class='right other-page' *ngIf="page && page.indexOf('/home') === -1">
                    <li>
                        <a routerLink='/home/contact'>
                            CONTACTO
                        </a>
                    </li>
                    <li>
                        <a routerLink='/encontranos-en'>
                            ENCONTRANOS EN
                        </a>
                    </li>
                    <li>
                        <a routerLink='/home/marcas'>
                            NUESTRAS MARCAS
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="newsletter">
            <div class="footer-title">
                <p>NEWSLETTER</p>
            </div>
            <div class="footer-content">
                <form action="">
                    <div class="input-group">
                        <input type="text" placeholder="Dejanos tu mail y recibí las novedades!">
                        <div class="submit-btn">
                            <button type='submit'>
                                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-contacto">
            <div class="footer-title">
                <p>CONTACTO</p>
            </div>
            <div class="footer-content">
                <div class="phone">
                    <p>+54 9 223 531 4209</p>
                </div>
                <div class="email">
                    <p> hola@todogourmet.com.ar </p>
                </div>
            </div>
        </div>
    </div>
    <div class="credits">
        <div class="container">
            <p>Todo Gourmet 2019 ©</p>
            <p class='separator'> |</p>
            <a href="https://ifdesign.tech/" target="_blank">  https://ifdesign.tech/</a>
        </div>
    </div>
</footer>